
:root {
    --color-base-colors-black-100: #0000000d; 
    --color-base-colors-black-200: #0000001a; 
    --color-base-colors-black-300: #00000033; 
    --color-base-colors-black-400: #0000004d; 
    --color-base-colors-black-500: #00000080; 
    --color-base-colors-black-600: #000000cc; 
    --color-base-colors-black-700: #000000d9; 
    --color-base-colors-black-800: #000000e5; 
    --color-base-colors-black-900: #000000f2; 
    --color-base-colors-black-1000: #000000; 
    --color-base-colors-white-100: #ffffff0d; 
    --color-base-colors-white-200: #ffffff1a; 
    --color-base-colors-white-300: #ffffff33; 
    --color-base-colors-white-400: #ffffff4d; 
    --color-base-colors-white-500: #ffffff80; 
    --color-base-colors-white-600: #ffffffcc; 
    --color-base-colors-white-700: #ffffffd9; 
    --color-base-colors-white-800: #ffffffe5; 
    --color-base-colors-white-900: #fffffff2; 
    --color-base-colors-grey-50: #fcfcfd; 
    --color-base-colors-white-1000: #ffffff; 
    --color-base-colors-grey-100: #f8fafc; 
    --color-base-colors-grey-200: #eef2f6; 
    --color-base-colors-grey-300: #e3e8ef; 
    --color-base-colors-grey-400: #cdd5df; 
    --color-base-colors-grey-500: #9aa4b2; /* base color */
    --color-base-colors-grey-600: #697586; 
    --color-base-colors-grey-700: #4b5565; 
    --color-base-colors-grey-800: #364152; 
    --color-base-colors-grey-900: #202939; 
    --color-base-colors-grey-1000: #121926; 
    --color-base-colors-blue-50: #f5f8ff; 
    --color-base-colors-blue-100: #eff4ff; 
    --color-base-colors-blue-200: #d1e0ff; 
    --color-base-colors-blue-300: #b2ccff; 
    --color-base-colors-blue-400: #84adff; 
    --color-base-colors-blue-500: #528bff; 
    --color-base-colors-blue-600: #2970ff; /* Brand color */
    --color-base-colors-blue-700: #155eef; 
    --color-base-colors-blue-800: #004eeb; 
    --color-base-colors-blue-900: #0040c1; 
    --color-base-colors-blue-1000: #00359e; 
    --color-base-colors-bluelight-50: #f4f9ff; 
    --color-base-colors-bluelight-100: #eff8ff; 
    --color-base-colors-bluelight-200: #d1e9ff; 
    --color-base-colors-bluelight-300: #b2ddff; 
    --color-base-colors-bluelight-400: #84caff; 
    --color-base-colors-bluelight-500: #53b0fd; /* base color */
    --color-base-colors-bluelight-600: #2e90fa; 
    --color-base-colors-bluelight-700: #156fee; 
    --color-base-colors-bluelight-800: #175cd3; 
    --color-base-colors-bluelight-900: #1849a9; 
    --color-base-colors-bluelight-1000: #194084; 
    --color-base-colors-purple-50: #faf8fc; 
    --color-base-colors-purple-100: #eae0f1; 
    --color-base-colors-purple-200: #cab3dd; 
    --color-base-colors-purple-300: #a780c6; 
    --color-base-colors-purple-400: #844daf; 
    --color-base-colors-purple-500: #69269d; 
    --color-base-colors-purple-600: #4f038c; 
    --color-base-colors-purple-700: #480384; 
    --color-base-colors-purple-800: #3f0279; 
    --color-base-colors-purple-900: #36026f; 
    --color-base-colors-purple-1000: #26015c; 
    --color-base-colors-red-50: #fffbfa; 
    --color-base-colors-red-100: #fef3f2; 
    --color-base-colors-red-200: #fee4e2; 
    --color-base-colors-red-300: #fecdca; 
    --color-base-colors-red-400: #fca19b; 
    --color-base-colors-red-500: #f97066; /* base color */
    --color-base-colors-red-600: #f04437; 
    --color-base-colors-red-700: #d92c20; 
    --color-base-colors-red-800: #b42318; 
    --color-base-colors-red-900: #912018; 
    --color-base-colors-red-1000: #7a2619; 
    --color-base-colors-green-50: #f6fef9; 
    --color-base-colors-green-100: #ecfdf3; 
    --color-base-colors-green-200: #d1fadf; 
    --color-base-colors-green-300: #a6f4c5; 
    --color-base-colors-green-400: #6be9a6; 
    --color-base-colors-green-500: #31d583; /* base color */
    --color-base-colors-green-600: #12b669; /* base color */
    --color-base-colors-green-700: #039754; 
    --color-base-colors-green-800: #027a48; 
    --color-base-colors-green-900: #055f3a; 
    --color-base-colors-green-1000: #054e31; 
    --color-base-colors-orange-50: #fefaf5; 
    --color-base-colors-orange-100: #fef6ee; 
    --color-base-colors-orange-200: #fcead7; 
    --color-base-colors-orange-300: #f8dbaf; 
    --color-base-colors-orange-400: #f7b279; 
    --color-base-colors-orange-500: #f38743; /* base color */
    --color-base-colors-orange-600: #ef681f; /* base color */
    --color-base-colors-orange-700: #df4f16; 
    --color-base-colors-orange-800: #b93814; 
    --color-base-colors-orange-900: #932f18; 
    --color-base-colors-orange-1000: #772917; 
    --color-base-colors-pink-50: #fef6fb; 
    --color-base-colors-pink-100: #fdf2fa; 
    --color-base-colors-pink-200: #fce7f6; 
    --color-base-colors-pink-300: #fcceee; 
    --color-base-colors-pink-400: #f9a7df; 
    --color-base-colors-pink-500: #f570c7; /* base color */
    --color-base-colors-pink-600: #ee46bc; 
    --color-base-colors-pink-700: #dc2590; 
    --color-base-colors-pink-800: #c01573; 
    --color-base-colors-pink-900: #9e155e; 
    --color-base-colors-pink-1000: #851651; 
    --color-base-colors-rose-50: #fff5f6; 
    --color-base-colors-rose-100: #fff1f3; 
    --color-base-colors-rose-200: #ffe4e8; 
    --color-base-colors-rose-300: #fecdd6; 
    --color-base-colors-rose-400: #fea2b3; 
    --color-base-colors-rose-500: #fc6f8d; /* base color */
    --color-base-colors-rose-600: #f53d68; 
    --color-base-colors-rose-700: #e31a53; 
    --color-base-colors-rose-800: #c00f47; 
    --color-base-colors-rose-900: #a10f42; 
    --color-base-colors-rose-1000: #89113d; 
    --color-base-colors-yellow-50: #fffcf5; 
    --color-base-colors-yellow-100: #fffaeb; 
    --color-base-colors-yellow-200: #fef0c7; 
    --color-base-colors-yellow-300: #fedf89; 
    --color-base-colors-yellow-400: #fec84b; 
    --color-base-colors-yellow-500: #fdb022; /* base color */
    --color-base-colors-yellow-600: #f79009; 
    --color-base-colors-yellow-700: #dc6803; 
    --color-base-colors-yellow-800: #b54707; 
    --color-base-colors-yellow-900: #93370c; 
    --color-base-colors-yellow-1000: #7a2e0e; 
    --color-base-colors-fuchsia-50: #fdf4ff; 
    --color-base-colors-fuchsia-100: #f9e8ff; 
    --color-base-colors-fuchsia-200: #f3cfff; 
    --color-base-colors-fuchsia-300: #eeaafd; 
    --color-base-colors-fuchsia-400: #e477fb; 
    --color-base-colors-fuchsia-500: #d444f1; /* base color */
    --color-base-colors-fuchsia-600: #bb24d5; 
    --color-base-colors-fuchsia-700: #9d1ab1; 
    --color-base-colors-fuchsia-800: #831890; 
    --color-base-colors-fuchsia-900: #6e1976; 
    --color-base-colors-fuchsia-1000: #48034f; 
    --color-base-colors-cyan-50: #f5feff; 
    --color-base-colors-cyan-100: #ecfdff; 
    --color-base-colors-cyan-200: #cff9fe; 
    --color-base-colors-cyan-300: #a5f0fb; 
    --color-base-colors-cyan-400: #67e3f9; 
    --color-base-colors-cyan-500: #22cbed; /* base color */
    --color-base-colors-cyan-600: #05aed4; 
    --color-base-colors-cyan-700: #078ab2; 
    --color-base-colors-cyan-800: #0d6f90; 
    --color-base-colors-cyan-900: #155b75; 
    --color-base-colors-cyan-1000: #154b63; 
    --color-base-colors-teal-50: #f6fefc; 
    --color-base-colors-teal-100: #f0fdf9; 
    --color-base-colors-teal-200: #ccfbef; 
    --color-base-colors-teal-300: #99f6e0; 
    --color-base-colors-teal-400: #5ee9cf; 
    --color-base-colors-teal-500: #2ed2b7; /* base color */
    --color-base-colors-teal-600: #15b79e; 
    --color-base-colors-teal-700: #0e9384; 
    --color-base-colors-teal-800: #0f7569; 
    --color-base-colors-teal-900: #125d56; 
    --color-base-colors-teal-1000: #134e48; 
    --color-base-colors-greenlight-50: #fafdf7; 
    --color-base-colors-greenlight-100: #f5fbee; 
    --color-base-colors-greenlight-200: #e6f4d7; 
    --color-base-colors-greenlight-300: #cdeaaf; 
    --color-base-colors-greenlight-400: #acdc79; 
    --color-base-colors-greenlight-500: #86cb3c; /* base color */
    --color-base-colors-greenlight-600: #669f2a; 
    --color-base-colors-greenlight-700: #4f7a21; 
    --color-base-colors-greenlight-800: #3f611a; 
    --color-base-colors-greenlight-900: #335015; 
    --color-base-colors-greenlight-1000: #2b4212; 
    --color-color-bg-blanket: #000a1eb2; 
    --color-color-border-brand-defaultmaken: #4f038c; 
    --color-base-colors-violet-50: #fbfaff; 
    --color-base-colors-violet-100: #f5f3ff; 
    --color-base-colors-violet-200: #ece9fe; 
    --color-base-colors-violet-300: #ddd6fe; 
    --color-base-colors-violet-400: #c3b5fd; 
    --color-base-colors-violet-500: #a48afa; 
    --color-base-colors-violet-600: #875af7; 
    --color-base-colors-violet-700: #7839ed; 
    --color-base-colors-violet-800: #6927da; 
    --color-base-colors-violet-900: #5720b7; 
    --color-base-colors-violet-1000: #491c96; 
    --color-color-bg-base-default: #ffffff; /* default page background */
    --color-color-bg-default-inverse: #121926; /* hight contrast background color */
    --color-color-bg-accent-red-lightest-default: #fffbfa; 
    --color-color-bg-accent-red-lightest-hovered: #fef3f2; 
    --color-color-bg-accent-red-lightest-pressed: #fee4e2; 
    --color-brand-50: #f5f8ff; 
    --color-color-bg-brand-lightest-default: #f5f8ff; 
    --color-brand-200: #d1e0ff; 
    --color-color-bg-brand-lightest-pressed: #d1e0ff; 
    --color-color-bg-brand-light-default: #d1e0ff; 
    --color-brand-400: #84adff; 
    --color-color-bg-brand-light-hovered: #84adff; 
    --color-brand-100: #eff4ff; 
    --color-color-bg-brand-lightest-hovered: #eff4ff; 
    --color-brand-300: #b2ccff; 
    --color-color-bg-brand-light-pressed: #b2ccff; 
    --color-color-bg-danger-lighter-default: #fef3f2; 
    --color-color-bg-danger-lighter-hovered: #fee4e2; 
    --color-color-bg-danger-bold-default: #f04437; 
    --color-color-bg-danger-bold-hovered: #d92c20; 
    --color-color-bg-danger-lighter-pressed: #fecdca; 
    --color-color-bg-danger-bold-pressed: #b42318; 
    --color-brand-600: #2970ff; 
    --color-color-bg-brand-bold-default: #2970ff; 
    --color-color-link-default: #2970ff; /* Use for links in default or hovered state. Add underline for hovered states. */
    --color-brand-800: #004eeb; 
    --color-color-bg-brand-bold-pressed: #004eeb; 
    --color-color-link-pressed: #004eeb; /* Use for links in a pressed state */
    --color-color-link-visited: #3f0279; /* Use for links in a visited state */
    --color-color-border-brand: #2970ff; 
    --color-color-border-bolder: #4b5565; 
    --color-color-border-bold: #697586; 
    --color-color-border-light: #9aa4b2; 
    --color-color-border-lighter: #cdd5df; 
    --color-color-border-lightest: #e3e8ef; 
    --color-color-border-support-danger: #f97066; 
    --color-color-border-support-warning: #f38743; 
    --color-color-border-support-success: #31d583; 
    --color-color-border-support-info: #53b0fd; 
    --color-color-bg-warning-lighter-default: #fffaeb; 
    --color-color-bg-warning-bold-default: #f79009; 
    --color-color-bg-warning-lighter-hovered: #fef0c7; 
    --color-color-bg-warning-bold-hovered: #dc6803; 
    --color-color-bg-warning-lighter-pressed: #fedf89; 
    --color-color-bg-warning-bold-pressed: #b54707; 
    --color-color-bg-success-lighter-default: #ecfdf3; 
    --color-color-bg-success-bold-default: #12b669; 
    --color-color-bg-success-lighter-hovered: #d1fadf; 
    --color-color-bg-success-lighter-pressed: #a6f4c5; 
    --color-color-bg-success-bold-hovered: #039754; 
    --color-color-bg-success-bold-pressed: #027a48; 
    --color-color-bg-info-lighter-default: #eff8ff; 
    --color-color-bg-info-lighter-hovered: #d1e9ff; 
    --color-color-bg-info-bold-default: #2e90fa; 
    --color-color-bg-info-lighter-pressed: #b2ddff; 
    --color-color-bg-info-bold-hovered: #156fee; 
    --color-color-bg-info-bold-pressed: #175cd3; 
    --color-brand-700: #155eef; 
    --color-color-bg-brand-bold-hovered: #155eef; 
    --color-color-bg-accent-red-lighter-default: #fef3f2; 
    --color-color-bg-accent-red-lighter-hovered: #fee4e2; 
    --color-color-bg-accent-red-lighter-pressed: #fecdca; 
    --color-color-bg-accent-red-light-default: #f97066; 
    --color-color-bg-accent-red-light-hovered: #f04437; 
    --color-color-bg-accent-red-light-pressed: #d92c20; 
    --color-color-bg-accent-red-bolder-default: #b42318; 
    --color-color-bg-accent-red-bolder-hovered: #912018; 
    --color-color-bg-accent-red-bolder-pressed: #7a2619; 
    --color-color-bg-neutral-lightest-default: #f8fafc; 
    --color-color-bg-neutral-lightest-hovered: #eef2f6; 
    --color-color-bg-neutral-lightest-pressed: #e3e8ef; 
    --color-color-bg-neutral-lighter-default: #eef2f6; 
    --color-color-bg-neutral-lighter-hovered: #e3e8ef; 
    --color-color-bg-neutral-lighter-pressed: #cdd5df; 
    --color-color-bg-neutral-light-default: #e3e8ef; 
    --color-color-bg-neutral-light-hovered: #cdd5df; 
    --color-color-bg-neutral-light-pressed: #9aa4b2; 
    --color-color-bg-neutral-bold-default: #9aa4b2; 
    --color-color-bg-neutral-bold-hovered: #697586; 
    --color-color-bg-neutral-bold-pressed: #4b5565; 
    --color-color-border-support-danger-lighter: #fee4e2; 
    --color-color-border-support-warning-lighter: #fcead7; 
    --color-color-border-support-success-lighter: #d1fadf; 
    --color-color-border-support-info-lighter: #d1e9ff; 
    --color-color-border-support-info-bold: #156fee; 
    --color-color-border-support-danger-bold: #d92c20; 
    --color-color-border-support-warning-bold: #dc6803; 
    --color-color-border-support-success-bold: #039754; 
    --color-color-bg-accent-green-lightest-default: #f6fef9; 
    --color-color-bg-accent-green-lightest-hovered: #ecfdf3; 
    --color-color-bg-accent-green-lightest-pressed: #d1fadf; 
    --color-color-bg-accent-green-lighter-default: #ecfdf3; 
    --color-color-bg-accent-green-lighter-hovered: #d1fadf; 
    --color-color-bg-accent-green-lighter-pressed: #a6f4c5; 
    --color-color-bg-accent-green-light-default: #31d583; 
    --color-color-bg-accent-green-light-hovered: #12b669; 
    --color-color-bg-accent-green-light-pressed: #039754; 
    --color-color-bg-accent-green-bolder-default: #027a48; 
    --color-color-bg-accent-green-bolder-hovered: #055f3a; 
    --color-color-bg-accent-green-bolder-pressed: #054e31; 
    --color-color-bg-accent-orange-lightest-default: #fefaf5; 
    --color-color-bg-accent-orange-lightest-hovered: #fef6ee; 
    --color-color-bg-accent-orange-lightest-pressed: #fcead7; 
    --color-color-bg-accent-orange-lighter-default: #fef6ee; 
    --color-color-bg-accent-orange-lighter-hovered: #fcead7; 
    --color-color-bg-accent-orange-lighter-pressed: #f8dbaf; 
    --color-color-bg-accent-orange-light-default: #f38743; 
    --color-color-bg-accent-orange-light-hovered: #ef681f; 
    --color-color-bg-accent-orange-light-pressed: #df4f16; 
    --color-color-bg-accent-orange-bolder-default: #b93814; 
    --color-color-bg-accent-orange-bolder-hovered: #932f18; 
    --color-color-bg-accent-orange-bolder-pressed: #772917; 
    --color-color-bg-brand-lighter-default: #eff4ff; 
    --color-color-bg-brand-lighter-pressed: #b2ccff; 
    --color-color-bg-brand-lighter-hovered: #d1e0ff; 
    --color-color-fg-default: #202939; /* Use for primary text, such as body copy, sentence case headers;  Use as hover text color for $text-light */
    --color-color-fg-bold: #364152; /* Use for secondary text, such as navigation, light button links, Inputs labels color; Use as hover text color for $text-lighter */
    --color-color-fg-light: #4b5565; /* Use for tertiary text, such as helper text and meta-data; Use as hover text color for $text-lightest */
    --color-color-fg-inverse: #ffffff; /* Use for text on interactive and bold backgrounds. */
    --color-color-fg-inverse-lighter: #ffffffcc; /* Use for text on interactive and bold backgrounds. */
    --color-color-fg-inverse-lightest: #ffffff4d; /* Use for text on interactive and bold backgrounds. */
    --color-color-fg-danger-default: #f04437; /* Use for critical text, such as fields error messaging. */
    --color-color-fg-danger-bold: #912018; /* Use for critical text, such as fields error messaging. */
    --color-color-fg-warning-default: #f79009; /* Use for text to emphasize caution. */
    --color-color-fg-warning-bold: #93370c; /* Use for text to emphasize caution. */
    --color-color-fg-success-default: #12b669; /* Use for text to communicate successful results. */
    --color-color-fg-success-bold: #055f3a; /* Use for text to communicate successful results. */
    --color-color-fg-info-default: #2e90fa; /* Use for informative text to communicate something is in progress. */
    --color-color-fg-info-bold: #1849a9; /* Use for informative text to communicate something is in progress. */
    --color-color-fg-lighter: #697586; /* Use for tertiary text, such as helper text and meta-data; */
    --color-color-fg-selected: #004eeb; /* Use for text in selected or opened states. */
    --color-color-fg-disabled: #00000080; /* Use for disabled text state. */
    --color-color-fg-brand-default: #155eef; /* Use for text that reinforces our brand. */
    --color-brand-900: #0040c1; 
    --color-color-fg-brand-bold: #0040c1; /* Use for text that reinforces our brand. */
    --color-color-fg-inverse-light: #ffffffe5; /* Use for text on interactive and bold backgrounds. */
    --color-color-fg-accent-red-default: #f04437; 
    --color-color-fg-accent-red-bold: #d92c20; 
    --color-color-fg-accent-green-default: #12b669; 
    --color-color-fg-accent-green-bold: #039754; 
    --color-color-fg-accent-orange-default: #ef681f; 
    --color-color-fg-accent-orange-bold: #df4f16; 
    --color-color-fg-accent-pink-default: #ee46bc; 
    --color-color-fg-accent-pink-bold: #dc2590; 
    --color-color-fg-accent-rose-default: #f53d68; 
    --color-color-fg-accent-rose-bold: #e31a53; 
    --color-color-fg-accent-yellow-default: #f79009; 
    --color-color-fg-accent-yellow-bold: #dc6803; 
    --color-color-fg-accent-cyan-default: #05aed4; 
    --color-color-fg-accent-cyan-bold: #078ab2; 
    --color-color-fg-accent-fuchsia-default: #d444f1; 
    --color-color-fg-accent-fuchsia-bold: #9d1ab1; 
    --color-color-fg-accent-teal-default: #15b79e; 
    --color-color-fg-accent-teal-bold: #0e9384; 
    --color-color-fg-accent-green-light-default: #669f2a; 
    --color-color-fg-accent-green-light-bold: #4f7a21; 
    --color-color-fg-lightest: #9aa4b2; /* Use for tertiary text, such as helper text and meta-data; */
    --color-color-bg-danger-lightest-default: #fffbfa; 
    --color-color-bg-danger-lightest-hovered: #fef3f2; 
    --color-color-bg-danger-lightest-pressed: #fee4e2; 
    --color-color-bg-warning-lightest-default: #fffcf5; 
    --color-color-bg-warning-lightest-hovered: #fffaeb; 
    --color-color-bg-warning-lightest-pressed: #fef0c7; 
    --color-color-bg-success-lightest-default: #f6fef9; 
    --color-color-bg-success-lightest-hovered: #ecfdf3; 
    --color-color-bg-success-lightest-pressed: #d1fadf; 
    --color-color-bg-info-lightest-default: #f4f9ff; 
    --color-color-bg-info-lightest-hovered: #eff8ff; 
    --color-color-bg-info-lightest-pressed: #d1e9ff; 
    --color-color-bg-brand-bolder-default: #004eeb; 
    --color-color-bg-brand-bolder-hovered: #0040c1; 
    --color-brand-1000: #00359e; 
    --color-color-bg-brand-bolder-pressed: #00359e; 
    --color-color-bg-accent-pink-lightest-default: #fef6fb; 
    --color-color-bg-accent-pink-lightest-hovered: #fdf2fa; 
    --color-color-bg-accent-pink-lightest-pressed: #fce7f6; 
    --color-color-bg-accent-pink-lighter-default: #fdf2fa; 
    --color-color-bg-accent-pink-lighter-hovered: #fce7f6; 
    --color-color-bg-accent-pink-lighter-pressed: #fcceee; 
    --color-color-bg-accent-pink-light-default: #f570c7; 
    --color-color-bg-accent-pink-light-hovered: #ee46bc; 
    --color-color-bg-accent-pink-light-pressed: #dc2590; 
    --color-color-bg-accent-pink-bolder-default: #c01573; 
    --color-color-bg-accent-pink-bolder-hovered: #9e155e; 
    --color-color-bg-accent-pink-bolder-pressed: #851651; 
    --color-color-bg-accent-rose-lightest-default: #fff5f6; 
    --color-color-bg-accent-rose-lightest-hovered: #fff1f3; 
    --color-color-bg-accent-rose-lightest-pressed: #ffe4e8; 
    --color-color-bg-accent-rose-lighter-default: #fff1f3; 
    --color-color-bg-accent-rose-lighter-hovered: #ffe4e8; 
    --color-color-bg-accent-rose-lighter-pressed: #fecdd6; 
    --color-color-bg-accent-rose-light-default: #fc6f8d; 
    --color-color-bg-accent-rose-light-hovered: #f53d68; 
    --color-color-bg-accent-rose-light-pressed: #e31a53; 
    --color-color-bg-accent-rose-bolder-default: #c00f47; 
    --color-color-bg-accent-rose-bolder-hovered: #a10f42; 
    --color-color-bg-accent-rose-bolder-pressed: #89113d; 
    --color-color-bg-accent-yellow-lightest-default: #fffcf5; 
    --color-color-bg-accent-yellow-lightest-hovered: #fffaeb; 
    --color-color-bg-accent-yellow-lightest-pressed: #fef0c7; 
    --color-color-bg-accent-yellow-lighter-default: #fffaeb; 
    --color-color-bg-accent-yellow-lighter-hovered: #fef0c7; 
    --color-color-bg-accent-yellow-lighter-pressed: #fedf89; 
    --color-color-bg-accent-yellow-light-default: #fdb022; 
    --color-color-bg-accent-yellow-light-hovered: #f79009; 
    --color-color-bg-accent-yellow-light-pressed: #dc6803; 
    --color-color-bg-accent-yellow-bolder-default: #b54707; 
    --color-color-bg-accent-yellow-bolder-hovered: #93370c; 
    --color-color-bg-accent-yellow-bolder-pressed: #7a2e0e; 
    --color-color-bg-accent-cyan-lightest-default: #f5feff; 
    --color-color-bg-accent-cyan-lightest-hovered: #ecfdff; 
    --color-color-bg-accent-cyan-lightest-pressed: #cff9fe; 
    --color-color-bg-accent-cyan-lighter-default: #ecfdff; 
    --color-color-bg-accent-cyan-lighter-hovered: #cff9fe; 
    --color-color-bg-accent-cyan-lighter-pressed: #a5f0fb; 
    --color-color-bg-accent-cyan-light-default: #22cbed; 
    --color-color-bg-accent-cyan-light-hovered: #05aed4; 
    --color-color-bg-accent-cyan-light-pressed: #078ab2; 
    --color-color-bg-accent-cyan-bolder-default: #0d6f90; 
    --color-color-bg-accent-cyan-bolder-hovered: #155b75; 
    --color-color-bg-accent-cyan-bolder-pressed: #154b63; 
    --color-color-bg-accent-violet-lightest-default: #fbfaff; 
    --color-color-bg-accent-violet-lightest-hovered: #f5f3ff; 
    --color-color-bg-accent-violet-lightest-pressed: #ece9fe; 
    --color-color-bg-accent-violet-lighter-default: #f5f3ff; 
    --color-color-bg-accent-violet-lighter-hovered: #ece9fe; 
    --color-color-bg-accent-violet-lighter-pressed: #ddd6fe; 
    --color-color-bg-accent-violet-bold-default: #875af7; 
    --color-color-bg-accent-violet-bold-hovered: #7839ed; 
    --color-color-bg-accent-violet-bold-pressed: #6927da; 
    --color-color-bg-accent-violet-bolder-default: #6927da; 
    --color-color-bg-accent-violet-bolder-hovered: #5720b7; 
    --color-color-bg-accent-violet-bolder-pressed: #491c96; 
    --color-color-bg-accent-teal-lightest-default: #f6fefc; 
    --color-color-bg-accent-teal-lightest-hovered: #f0fdf9; 
    --color-color-bg-accent-teal-lightest-pressed: #ccfbef; 
    --color-color-bg-accent-teal-lighter-default: #f0fdf9; 
    --color-color-bg-accent-teal-lighter-hovered: #ccfbef; 
    --color-color-bg-accent-teal-lighter-pressed: #99f6e0; 
    --color-color-bg-accent-teal-light-default: #2ed2b7; 
    --color-color-bg-accent-teal-light-hovered: #15b79e; 
    --color-color-bg-accent-teal-light-pressed: #0e9384; 
    --color-color-bg-accent-teal-bolder-default: #0f7569; 
    --color-color-bg-accent-teal-bolder-hovered: #125d56; 
    --color-color-bg-accent-teal-bolder-pressed: #134e48; 
    --color-color-bg-accent-green-light-lightest-default: #fafdf7; 
    --color-color-border-brand-default: #2970ff; 
    --color-color-bg-accent-green-light-lightest-hovered: #f5fbee; 
    --color-color-bg-accent-green-light-lightest-pressed: #e6f4d7; 
    --color-color-border-brand-bold: #0040c1; 
    --color-color-border-brand-light: #b2ccff; 
    --color-color-bg-accent-green-light-lighter-default: #f5fbee; 
    --color-color-border-support-danger-default: #f04437; 
    --color-color-border-support-danger-light: #fecdca; 
    --color-color-border-support-warning-default: #f79009; 
    --color-color-border-support-warning-light: #fedf89; 
    --color-color-border-support-success-default: #12b669; 
    --color-color-border-support-success-light: #a6f4c5; 
    --color-color-border-support-info-default: #2e90fa; 
    --color-color-border-support-info-light: #b2ddff; 
    --color-color-bg-accent-green-light-lighter-hovered: #e6f4d7; 
    --color-color-border-accent-red-default: #f04437; 
    --color-color-border-accent-red-bold: #d92c20; 
    --color-color-bg-accent-green-light-lighter-pressed: #cdeaaf; 
    --color-color-border-accent-red-light: #fecdca; 
    --color-color-bg-accent-green-light-bold-default: #669f2a; 
    --color-color-border-accent-green-default: #12b669; 
    --color-color-border-accent-green-bold: #039754; 
    --color-color-bg-accent-green-light-bold-hovered: #4f7a21; 
    --color-color-border-accent-green-light: #a6f4c5; 
    --color-color-bg-accent-green-light-bold-pressed: #3f611a; 
    --color-color-border-accent-orange-default: #ef681f; 
    --color-color-border-accent-orange-bold: #df4f16; 
    --color-color-bg-accent-green-light-bolder-default: #3f611a; 
    --color-color-border-accent-orange-light: #f8dbaf; 
    --color-color-border-accent-pink-default: #ee46bc; 
    --color-color-bg-accent-green-light-bolder-hovered: #335015; 
    --color-color-bg-accent-green-light-bolder-pressed: #2b4212; 
    --color-color-border-accent-pink-bold: #dc2590; 
    --color-color-border-accent-pink-light: #fcceee; 
    --color-color-border-accent-rose-default: #f53d68; 
    --color-color-border-accent-rose-bold: #e31a53; 
    --color-color-border-accent-rose-light: #fecdd6; 
    --color-color-border-accent-yellow-default: #f79009; 
    --color-color-border-accent-yellow-bold: #dc6803; 
    --color-color-border-accent-yellow-light: #fedf89; 
    --color-color-border-accent-cyan-default: #05aed4; 
    --color-color-border-accent-cyan-bold: #078ab2; 
    --color-color-border-accent-cyan-light: #a5f0fb; 
    --color-color-border-accent-violet-default: #875af7; 
    --color-color-border-accent-violet-bold: #7839ed; 
    --color-color-border-accent-violet-light: #ddd6fe; 
    --color-color-border-accent-teal-default: #15b79e; 
    --color-color-border-accent-teal-bold: #0e9384; 
    --color-color-border-accent-teal-light: #99f6e0; 
    --color-color-border-accent-lime-default: #669f2a; 
    --color-color-border-accent-lime-bold: #4f7a21; 
    --color-color-border-accent-lime-light: #cdeaaf; 
    --color-color-border-inverse: #ffffff; 
    --color-color-border-selected: #d1e0ff; 
    --color-color-bg-neutral-boldest-default: #364152; 
    --color-color-bg-neutral-boldest-hovered: #202939; 
    --color-color-bg-neutral-boldest-pressed: #121926; 
    --color-color-bg-brand-maken-bold-default: #4f038c; 
    --color-color-bg-brand-maken-bold-hovered: #480384; 
    --color-color-bg-brand-maken-bold-pressed: #3f0279; 
    --color-brand-500: #528bff; 
    --color-color-fg-accent-red-bolder: #912018; 
    --color-color-fg-accent-green-bolder: #055f3a; 
    --color-color-fg-accent-orange-bolder: #932f18; 
    --color-color-fg-accent-pink-bolder: #9e155e; 
    --color-color-fg-accent-rose-bolder: #a10f42; 
    --color-color-fg-accent-yellow-bolder: #93370c; 
    --color-color-fg-accent-violet-default: #875af7; 
    --color-color-fg-accent-violet-bold: #7839ed; 
    --color-color-fg-accent-violet-bolder: #5720b7; 
    --color-color-fg-accent-teal-bolder: #125d56; 
    --color-color-fg-accent-green-light-bolder: #335015; 
    --color-color-fg-accent-cyan-bolder: #155b75; 
    --color-color-bg-base-hovered: #fcfcfd; /* default page background */
    --color-color-bg-base-pressed: #f8fafc; /* default page background */
    --color-color-bg-accent-blue-light-lightest-default: #f4f9ff; 
    --color-color-bg-accent-blue-light-lightest-hovered: #eff8ff; 
    --color-color-bg-accent-blue-light-lightest-pressed: #d1e9ff; 
    --color-color-bg-accent-blue-light-lighter-default: #eff8ff; 
    --color-color-bg-accent-blue-light-lighter-hovered: #d1e9ff; 
    --color-color-bg-accent-blue-light-lighter-pressed: #b2ddff; 
    --color-color-bg-accent-blue-light-bold-default: #2e90fa; 
    --color-color-bg-accent-blue-light-bold-hovered: #156fee; 
    --color-color-bg-accent-blue-light-bold-pressed: #175cd3; 
    --color-color-bg-accent-blue-light-bolder-default: #175cd3; 
    --color-color-bg-accent-blue-light-bolder-hovered: #1849a9; 
    --color-color-bg-accent-blue-light-bolder-pressed: #194084; 
    --color-color-fg-accent-blue-light-default: #2e90fa; 
    --color-color-fg-accent-blue-light-bold: #156fee; 
    --color-color-fg-accent-blue-light-bolder: #1849a9; 
}