
:root {
    --measure-dimension-spacing-spacing-1: 2px;     
    --measure-dimension-spacing-spacing-2: 4px;     
    --measure-dimension-spacing-spacing-3: 8px;     
    --measure-dimension-spacing-spacing-4: 12px;     
    --measure-dimension-spacing-spacing-5: 16px;     
    --measure-dimension-spacing-spacing-6: 24px;     
    --measure-dimension-spacing-spacing-7: 32px;     
    --measure-dimension-spacing-spacing-8: 40px;     
    --measure-dimension-spacing-spacing-9: 48px;     
    --measure-dimension-spacing-spacing-10: 64px;     
    --measure-dimension-spacing-spacing-11: 80px;     
    --measure-dimension-spacing-spacing-12: 96px;     
    --measure-dimension-spacing-spacing-13: 160px;     
    --measure-dimension-radius-none: 0px;     
    --measure-dimension-radius-round: 100000px;     
    --measure-dimension-opacity-disabled: 40px;     
    --measure-dimension-spacing-spacing-0: 0px;     
    --measure-dimension-core-size-0: 0px;     
    --measure-dimension-core-size-1: 1px;     
    --measure-dimension-core-size-2: 2px;     
    --measure-dimension-core-size-4: 4px;     
    --measure-dimension-core-size-6: 6px;     
    --measure-dimension-core-size-8: 8px;     
    --measure-dimension-core-size-10: 10px;     
    --measure-dimension-core-size-12: 12px;     
    --measure-dimension-core-size-14: 14px;     
    --measure-dimension-core-size-16: 16px;     
    --measure-dimension-core-size-18: 18px;     
    --measure-dimension-core-size-20: 20px;     
    --measure-dimension-core-size-22: 22px;     
    --measure-dimension-core-size-24: 24px;     
    --measure-dimension-core-size-26: 26px;     
    --measure-dimension-core-size-28: 28px;     
    --measure-dimension-core-size-30: 30px;     
    --measure-dimension-core-size-32: 32px;     
    --measure-dimension-core-size-36: 36px;     
    --measure-dimension-core-size-38: 38px;     
    --measure-dimension-core-size-40: 40px;     
    --measure-dimension-core-size-42: 42px;     
    --measure-dimension-core-size-44: 44px;     
    --measure-dimension-core-size-46: 46px;     
    --measure-dimension-core-size-48: 48px;     
    --measure-dimension-core-size-50: 50px;     
    --measure-dimension-core-size-52: 52px;     
    --measure-dimension-core-size-54: 54px;     
    --measure-dimension-core-size-56: 56px;     
    --measure-dimension-core-size-58: 58px;     
    --measure-dimension-core-size-60: 60px;     
    --measure-dimension-core-size-62: 62px;     
    --measure-dimension-core-size-64: 64px;     
    --measure-dimension-core-size-68: 68px;     
    --measure-dimension-core-size-70: 70px;     
    --measure-dimension-core-size-72: 72px;     
    --measure-dimension-core-size-74: 74px;     
    --measure-dimension-core-size-76: 76px;     
    --measure-dimension-core-size-78: 78px;     
    --measure-dimension-core-size-80: 80px;     
    --measure-dimension-core-size-82: 82px;     
    --measure-dimension-gap-none: 0px;     
    --measure-dimension-opacity-10: 10px;     
    --measure-dimension-radius-xxx-small: 2px;     
    --measure-dimension-radius-xx-small: 4px;     
    --measure-dimension-radius-x-small: 6px;     
    --measure-dimension-radius-small: 8px;     
    --measure-dimension-radius-medium: 12px;     
    --measure-dimension-radius-large: 16px;     
    --measure-dimension-radius-x-large: 24px;     
    --measure-dimension-radius-xx-large: 32px;     
    --measure-dimension-radius-xxx-large: 48px;     
    --measure-dimension-gap-xxx-small: 2px;     
    --measure-dimension-gap-xx-small: 4px;     
    --measure-dimension-gap-x-small: 6px;     
    --measure-dimension-gap-small: 8px;     
    --measure-dimension-gap-medium: 12px;     
    --measure-dimension-gap-large: 16px;     
    --measure-dimension-gap-x-large: 20px;     
    --measure-dimension-gap-xx-large: 24px;     
    --measure-dimension-gap-xxx-large: 32px;     
    --measure-dimension-size-size-100: 2px;     
    --measure-dimension-border-width-xxx-small: 2px;     
}