
:root {
    --shadow-base-box-shadow-container-l: 0 4px 6px -2px rgba(16,24,40,0.03);   

    --shadow-base-box-shadow-container-l-2: 0 12px 16px -4px rgba(16,24,40,0.08);   

    --shadow-base-box-shadow-focus-border-primary: 0 0 0 4px rgba(209,224,255,1);   

    --shadow-base-box-shadow-focus-border-gray: 0 0 0 4px rgba(242,244,247,1);   

    --shadow-base-box-shadow-focus-border-destructive: 0 0 0 4px rgba(254,228,226,1);   

    --shadow-base-box-shadow-container-xs: 0 1px 2px 0 rgba(16,24,40,0.05);   

    --shadow-base-box-shadow-container-none: 0 0 0 0 rgb(0,0,0);   

    --shadow-base-box-shadow-container-m: 0 2px 4px -2px rgba(16,24,40,0.06);   

    --shadow-base-box-shadow-container-m-2: 0 4px 8px -2px rgba(16,24,40,0.1);   

    --shadow-base-box-shadow-container-xl: 0 8px 8px -4px rgba(16,24,40,0.03);   

    --shadow-base-box-shadow-container-xl-2: 0 20px 24px -4px rgba(16,24,40,0.08);   

    --shadow-base-box-shadow-container-sm: 0 1px 2px 0 rgba(16,24,40,0.06);   

    --shadow-base-box-shadow-container-sm-2: 0 1px 3px 0 rgba(16,24,40,0.1);   

}