$colorBaseColorsBlack100: #0000000d;    
$colorBaseColorsBlack200: #0000001a;    
$colorBaseColorsBlack300: #00000033;    
$colorBaseColorsBlack400: #0000004d;    
$colorBaseColorsBlack500: #00000080;    
$colorBaseColorsBlack600: #000000cc;    
$colorBaseColorsBlack700: #000000d9;    
$colorBaseColorsBlack800: #000000e5;    
$colorBaseColorsBlack900: #000000f2;    
$colorBaseColorsBlack1000: #000000;    
$colorBaseColorsWhite100: #ffffff0d;    
$colorBaseColorsWhite200: #ffffff1a;    
$colorBaseColorsWhite300: #ffffff33;    
$colorBaseColorsWhite400: #ffffff4d;    
$colorBaseColorsWhite500: #ffffff80;    
$colorBaseColorsWhite600: #ffffffcc;    
$colorBaseColorsWhite700: #ffffffd9;    
$colorBaseColorsWhite800: #ffffffe5;    
$colorBaseColorsWhite900: #fffffff2;    
$colorBaseColorsGrey50: #fcfcfd;    
$colorBaseColorsWhite1000: #ffffff;    
$colorBaseColorsGrey100: #f9fafb;    
$colorBaseColorsGrey200: #f2f4f7;    
$colorBaseColorsGrey300: #eaecf0;    
$colorBaseColorsGrey400: #d0d5dd;    
/* base color */
$colorBaseColorsGrey500: #98a2b3;    
$colorBaseColorsGrey600: #667085;    
$colorBaseColorsGrey700: #475467;    
$colorBaseColorsGrey800: #344054;    
$colorBaseColorsGrey900: #1d2939;    
$colorBaseColorsGrey1000: #101828;    
$colorBaseColorsBlue50: #f5f8ff;    
$colorBaseColorsBlue100: #eff4ff;    
$colorBaseColorsBlue200: #d1e0ff;    
$colorBaseColorsBlue300: #b2ccff;    
$colorBaseColorsBlue400: #84adff;    
$colorBaseColorsBlue500: #528bff;    
/* Brand color */
$colorBaseColorsBlue600: #2970ff;    
$colorBaseColorsBlue700: #155eef;    
$colorBaseColorsBlue800: #004eeb;    
$colorBaseColorsBlue900: #0040c1;    
$colorBaseColorsBlue1000: #00359e;    
$colorBaseColorsLightblue50: #f0f9ff;    
$colorBaseColorsLightblue100: #e0f2fe;    
$colorBaseColorsLightblue200: #b9e6fe;    
$colorBaseColorsLightblue300: #7bd3fe;    
$colorBaseColorsLightblue400: #35bdfb;    
/* base color */
$colorBaseColorsLightblue500: #0ba5ec;    
$colorBaseColorsLightblue600: #0084ca;    
$colorBaseColorsLightblue700: #0279bb;    
$colorBaseColorsLightblue800: #0169a3;    
$colorBaseColorsLightblue900: #0b496f;    
$colorBaseColorsLightblue1000: #072f4a;    
$colorBaseColorsPurple50: #faf8fc;    
$colorBaseColorsPurple100: #eae0f1;    
$colorBaseColorsPurple200: #cab3dd;    
$colorBaseColorsPurple300: #a780c6;    
$colorBaseColorsPurple400: #844daf;    
/* base color */
$colorBaseColorsPurple500: #69269d;    
$colorBaseColorsPurple600: #4f038c;    
$colorBaseColorsPurple700: #480384;    
$colorBaseColorsPurple800: #3f0279;    
$colorBaseColorsPurple900: #36026f;    
/* brand color (Maken) */
$colorBaseColorsPurple1000: #26015c;    
$colorBaseColorsRed50: #fef3f2;    
$colorBaseColorsRed100: #fee4e2;    
$colorBaseColorsRed200: #ffcdc9;    
$colorBaseColorsRed300: #fdaaa4;    
$colorBaseColorsRed400: #f97970;    
/* base color */
$colorBaseColorsRed500: #f04438;    
$colorBaseColorsRed600: #de3024;    
$colorBaseColorsRed700: #bb241a;    
$colorBaseColorsRed800: #9a221a;    
$colorBaseColorsRed900: #80231c;    
$colorBaseColorsRed1000: #460d09;    
$colorBaseColorsGreen50: #ecfdf3;    
$colorBaseColorsGreen100: #d1fadf;    
$colorBaseColorsGreen200: #a8f2c6;    
$colorBaseColorsGreen300: #6fe6a7;    
$colorBaseColorsGreen400: #36d183;    
/* base color */
$colorBaseColorsGreen500: #12b76a;    
/* base color */
$colorBaseColorsGreen600: #079455;    
$colorBaseColorsGreen700: #057747;    
$colorBaseColorsGreen800: #075e3a;    
$colorBaseColorsGreen900: #074d32;    
$colorBaseColorsGreen1000: #022c1c;    
$colorBaseColorsOrange50: #fff8ed;    
$colorBaseColorsOrange100: #feefd6;    
$colorBaseColorsOrange200: #fddcab;    
$colorBaseColorsOrange300: #fbc276;    
$colorBaseColorsOrange400: #f99d3e;    
/* base color */
$colorBaseColorsOrange500: #f68119;    
/* base color */
$colorBaseColorsOrange600: #eb670f;    
$colorBaseColorsOrange700: #c04c0e;    
$colorBaseColorsOrange800: #983d14;    
$colorBaseColorsOrange900: #7b3413;    
$colorBaseColorsOrange1000: #421708;    
$colorBaseColorsPink50: #fdf2fa;    
$colorBaseColorsPink100: #fce7f7;    
$colorBaseColorsPink200: #fccef2;    
$colorBaseColorsPink300: #faa7e5;    
$colorBaseColorsPink400: #f670d2;    
/* base color */
$colorBaseColorsPink500: #ee46bc;    
$colorBaseColorsPink600: #dd259d;    
$colorBaseColorsPink700: #c01680;    
$colorBaseColorsPink800: #9f156a;    
$colorBaseColorsPink900: #84175a;    
$colorBaseColorsPink1000: #510634;    
$colorBaseColorsRose50: #fff1f3;    
$colorBaseColorsRose100: #ffe4e8;    
$colorBaseColorsRose200: #ffccd6;    
$colorBaseColorsRose300: #fea3b4;    
$colorBaseColorsRose400: #fd6f8d;    
/* base color */
$colorBaseColorsRose500: #f63d68;    
$colorBaseColorsRose600: #e31b53;    
$colorBaseColorsRose700: #c01046;    
$colorBaseColorsRose800: #a11041;    
$colorBaseColorsRose900: #89123e;    
$colorBaseColorsRose1000: #4d041d;    
$colorBaseColorsYellow50: #fefbe8;    
$colorBaseColorsYellow100: #fef7c3;    
$colorBaseColorsYellow200: #feeb8a;    
$colorBaseColorsYellow300: #fdd947;    
$colorBaseColorsYellow400: #fac315;    
/* base color */
$colorBaseColorsYellow500: #eaaa08;    
$colorBaseColorsYellow600: #ca8204;    
$colorBaseColorsYellow700: #a15c07;    
$colorBaseColorsYellow800: #85480e;    
$colorBaseColorsYellow900: #713b12;    
$colorBaseColorsYellow1000: #421e06;    
$colorBaseColorsFuchsia50: #fdf4ff;    
$colorBaseColorsFuchsia100: #f9e8ff;    
$colorBaseColorsFuchsia200: #f3cfff;    
$colorBaseColorsFuchsia300: #eeaafd;    
$colorBaseColorsFuchsia400: #e477fb;    
/* base color */
$colorBaseColorsFuchsia500: #d444f1;    
$colorBaseColorsFuchsia600: #bb24d5;    
$colorBaseColorsFuchsia700: #9d1ab1;    
$colorBaseColorsFuchsia800: #831890;    
$colorBaseColorsFuchsia900: #6e1976;    
$colorBaseColorsFuchsia1000: #48034f;    
$colorBaseColorsCyan50: #ecfdff;    
$colorBaseColorsCyan100: #cff8fe;    
$colorBaseColorsCyan200: #a5f0fc;    
$colorBaseColorsCyan300: #67e2f9;    
$colorBaseColorsCyan400: #22cbee;    
/* base color */
$colorBaseColorsCyan500: #06aed4;    
$colorBaseColorsCyan600: #088ab2;    
$colorBaseColorsCyan700: #0e6f90;    
$colorBaseColorsCyan800: #155a75;    
$colorBaseColorsCyan900: #164b63;    
$colorBaseColorsCyan1000: #083144;    
$colorBaseColorsTeal50: #f0fdf9;    
$colorBaseColorsTeal100: #ccfbef;    
$colorBaseColorsTeal200: #9af5e0;    
$colorBaseColorsTeal300: #5fe9cd;    
$colorBaseColorsTeal400: #2ed3b7;    
/* base color */
$colorBaseColorsTeal500: #15b79e;    
$colorBaseColorsTeal600: #0e9381;    
$colorBaseColorsTeal700: #107568;    
$colorBaseColorsTeal800: #115e56;    
$colorBaseColorsTeal900: #134e47;    
$colorBaseColorsTeal1000: #042f2c;    
$colorBaseColorsLime50: #f3fde8;    
$colorBaseColorsLime100: #e3facd;    
$colorBaseColorsLime200: #c9f6a0;    
$colorBaseColorsLime300: #a7ed69;    
$colorBaseColorsLime400: #86e03b;    
/* base color */
$colorBaseColorsLime500: #66c61c;    
$colorBaseColorsLime600: #4c9e12;    
$colorBaseColorsLime700: #3c7813;    
$colorBaseColorsLime800: #325f15;    
$colorBaseColorsLime900: #2c5116;    
$colorBaseColorsLime1000: #132d06;    
$colorColorBgBlanket: #000a1eb2;    
$colorColorBorderBrandDefaultmaken: #4f038c;    
/* default page background */
$colorColorBgDefault: $colorBaseColorsWhite1000;    
/* hight contrast background color */
$colorColorBgDefaultInverse: $colorBaseColorsGrey1000;    
$colorColorBgAccentRedLightestDefault: $colorBaseColorsRed50;    
$colorColorBgAccentRedLightestHovered: $colorBaseColorsRed200;    
$colorColorBgAccentRedLightestPressed: $colorBaseColorsRed300;    
$colorColorBgBrandLightestDefault: $colorBaseColorsBlue50;    
$colorColorBgBrandLightestPressed: $colorBaseColorsBlue200;    
$colorColorBgBrandLightDefault: $colorBaseColorsBlue200;    
$colorColorBgBrandLightHovered: $colorBaseColorsBlue400;    
$colorColorBgBrandLightestHovered: $colorBaseColorsBlue100;    
$colorColorBgBrandLightPressed: $colorBaseColorsBlue300;    
$colorColorBgDangerLightDefault: $colorBaseColorsRed100;    
$colorColorBgDangerLightHovered: $colorBaseColorsRed200;    
$colorColorBgDangerBoldDefault: $colorBaseColorsRed500;    
$colorColorBgDangerBoldHovered: $colorBaseColorsRed600;    
$colorColorBgDangerLightPressed: $colorBaseColorsRed300;    
$colorColorBgDangerBoldPressed: $colorBaseColorsRed700;    
$colorColorBgBrandBoldDefault: $colorBaseColorsBlue600;    
/* Use for links in default or hovered state. Add underline for hovered states. */
$colorColorLinkDefault: $colorColorBgBrandBoldDefault;    
$colorColorBgBrandBoldPressed: $colorBaseColorsBlue800;    
/* Use for links in a pressed state */
$colorColorLinkPressed: $colorColorBgBrandBoldPressed;    
/* Use for links in a visited state */
$colorColorLinkVisited: $colorBaseColorsPurple800;    
$colorColorBorderBrand: $colorBaseColorsBlue600;    
$colorColorBorderBolder: $colorBaseColorsGrey700;    
$colorColorBorderBold: $colorBaseColorsGrey600;    
$colorColorBorderLight: $colorBaseColorsGrey500;    
$colorColorBorderLighter: $colorBaseColorsGrey400;    
$colorColorBorderLightest: $colorBaseColorsGrey300;    
$colorColorBorderSupportDanger: $colorBaseColorsRed500;    
$colorColorBorderSupportWarning: $colorBaseColorsOrange500;    
$colorColorBorderSupportSuccess: $colorBaseColorsGreen500;    
$colorColorBorderSupportInfo: $colorBaseColorsLightblue500;    
$colorColorBgWarningLightDefault: $colorBaseColorsOrange100;    
$colorColorBgWarningBoldDefault: $colorBaseColorsOrange500;    
$colorColorBgWarningLightHovered: $colorBaseColorsOrange200;    
$colorColorBgWarningBoldHovered: $colorBaseColorsOrange600;    
$colorColorBgWarningLightPressed: $colorBaseColorsOrange300;    
$colorColorBgWarningBoldPressed: $colorBaseColorsOrange700;    
$colorColorBgSuccessLightDefault: $colorBaseColorsGreen100;    
$colorColorBgSuccessBoldDefault: $colorBaseColorsGreen500;    
$colorColorBgSuccessLightHovered: $colorBaseColorsGreen200;    
$colorColorBgSuccessLightPressed: $colorBaseColorsGreen300;    
$colorColorBgSuccessBoldHovered: $colorBaseColorsGreen600;    
$colorColorBgSuccessBoldPressed: $colorBaseColorsGreen700;    
$colorColorBgInfoLightDefault: $colorBaseColorsLightblue100;    
$colorColorBgInfoLightHovered: $colorBaseColorsLightblue200;    
$colorColorBgInfoBoldDefault: $colorBaseColorsLightblue500;    
$colorColorBgInfoLightPressed: $colorBaseColorsLightblue300;    
$colorColorBgInfoBoldHovered: $colorBaseColorsLightblue600;    
$colorColorBgInfoBoldPressed: $colorBaseColorsLightblue700;    
$colorColorBgBrandBoldHovered: $colorBaseColorsBlue700;    
$colorColorBgAccentRedLighterDefault: $colorBaseColorsRed200;    
$colorColorBgAccentRedLighterHovered: $colorBaseColorsRed300;    
$colorColorBgAccentRedLighterPressed: $colorBaseColorsRed400;    
$colorColorBgAccentRedLightDefault: $colorBaseColorsRed500;    
$colorColorBgAccentRedLightHovered: $colorBaseColorsRed600;    
$colorColorBgAccentRedLightPressed: $colorBaseColorsRed700;    
$colorColorBgAccentRedBoldDefault: $colorBaseColorsRed700;    
$colorColorBgAccentRedBoldHovered: $colorBaseColorsRed800;    
$colorColorBgAccentRedBoldPressed: $colorBaseColorsRed900;    
$colorColorBgNeutralLightestDefault: $colorBaseColorsGrey100;    
$colorColorBgNeutralLightestHovered: $colorBaseColorsGrey200;    
$colorColorBgNeutralLightestPressed: $colorBaseColorsGrey300;    
$colorColorBgNeutralLighterDefault: $colorBaseColorsGrey200;    
$colorColorBgNeutralLighterHovered: $colorBaseColorsGrey300;    
$colorColorBgNeutralLighterPressed: $colorBaseColorsGrey400;    
$colorColorBgNeutralLightDefault: $colorBaseColorsGrey500;    
$colorColorBgNeutralLightHovered: $colorBaseColorsGrey600;    
$colorColorBgNeutralLightPressed: $colorBaseColorsGrey700;    
$colorColorBgNeutralBoldDefault: $colorBaseColorsGrey700;    
$colorColorBgNeutralBoldHovered: $colorBaseColorsGrey800;    
$colorColorBgNeutralBoldPressed: $colorBaseColorsGrey900;    
$colorColorBorderSupportDangerLighter: $colorBaseColorsRed200;    
$colorColorBorderSupportWarningLighter: $colorBaseColorsOrange200;    
$colorColorBorderSupportSuccessLighter: $colorBaseColorsGreen200;    
$colorColorBorderSupportInfoLighter: $colorBaseColorsLightblue200;    
$colorColorBorderSupportInfoBold: $colorBaseColorsLightblue700;    
$colorColorBorderSupportDangerBold: $colorBaseColorsRed700;    
$colorColorBorderSupportWarningBold: $colorBaseColorsOrange700;    
$colorColorBorderSupportSuccessBold: $colorBaseColorsGreen700;    
$colorColorBgAccentGreenLightestDefault: $colorBaseColorsGreen50;    
$colorColorBgAccentGreenLightestHovered: $colorBaseColorsGreen200;    
$colorColorBgAccentGreenLightestPressed: $colorBaseColorsGreen300;    
$colorColorBgAccentGreenLighterDefault: $colorBaseColorsGreen200;    
$colorColorBgAccentGreenLighterHovered: $colorBaseColorsGreen300;    
$colorColorBgAccentGreenLighterPressed: $colorBaseColorsGreen400;    
$colorColorBgAccentGreenLightDefault: $colorBaseColorsGreen500;    
$colorColorBgAccentGreenLightHovered: $colorBaseColorsGreen600;    
$colorColorBgAccentGreenLightPressed: $colorBaseColorsGreen700;    
$colorColorBgAccentGreenBoldDefault: $colorBaseColorsGreen700;    
$colorColorBgAccentGreenBoldHovered: $colorBaseColorsGreen800;    
$colorColorBgAccentGreenBoldPressed: $colorBaseColorsGreen900;    
$colorColorBgAccentOrangeLightestDefault: $colorBaseColorsOrange50;    
$colorColorBgAccentOrangeLightestHovered: $colorBaseColorsOrange200;    
$colorColorBgAccentOrangeLightestPressed: $colorBaseColorsOrange300;    
$colorColorBgAccentOrangeLighterDefault: $colorBaseColorsOrange200;    
$colorColorBgAccentOrangeLighterHovered: $colorBaseColorsOrange300;    
$colorColorBgAccentOrangeLighterPressed: $colorBaseColorsOrange400;    
$colorColorBgAccentOrangeLightDefault: $colorBaseColorsOrange500;    
$colorColorBgAccentOrangeLightHovered: $colorBaseColorsOrange600;    
$colorColorBgAccentOrangeLightPressed: $colorBaseColorsOrange700;    
$colorColorBgAccentOrangeBoldDefault: $colorBaseColorsOrange700;    
$colorColorBgAccentOrangeBoldHovered: $colorBaseColorsOrange800;    
$colorColorBgAccentOrangeBoldPressed: $colorBaseColorsOrange900;    
$colorColorBgBrandLighterDefault: $colorBaseColorsBlue100;    
$colorColorBgBrandLighterPressed: $colorBaseColorsBlue200;    
$colorColorBgBrandLighterHovered: $colorBaseColorsBlue300;    
/* Use for primary text, such as body copy, sentence case headers;  Use as hover text color for $text-light */
$colorColorFgDefault: $colorBaseColorsGrey900;    
/* Use for secondary text, such as navigation, light button links, Inputs labels color; Use as hover text color for $text-lighter */
$colorColorFgBold: $colorBaseColorsGrey800;    
/* Use for tertiary text, such as helper text and meta-data; Use as hover text color for $text-lightest */
$colorColorFgLight: $colorBaseColorsGrey700;    
/* Use for text on interactive and bold backgrounds. */
$colorColorFgInverse: $colorBaseColorsWhite1000;    
/* Use for text on interactive and bold backgrounds. */
$colorColorFgInverseLighter: $colorBaseColorsWhite600;    
/* Use for text on interactive and bold backgrounds. */
$colorColorFgInverseLightest: $colorBaseColorsWhite400;    
/* Use for critical text, such as fields error messaging. */
$colorColorFgDangerDefault: $colorBaseColorsRed500;    
/* Use for critical text, such as fields error messaging. */
$colorColorFgDangerBold: $colorBaseColorsRed700;    
/* Use for text to emphasize caution. */
$colorColorFgWarningDefault: $colorBaseColorsOrange500;    
/* Use for text to emphasize caution. */
$colorColorFgWarningBold: $colorBaseColorsOrange700;    
/* Use for text to communicate successful results. */
$colorColorFgSuccessDefault: $colorBaseColorsGreen500;    
/* Use for text to communicate successful results. */
$colorColorFgSuccessBold: $colorBaseColorsGreen700;    
/* Use for informative text to communicate something is in progress. */
$colorColorFgInfoDefault: $colorBaseColorsLightblue500;    
/* Use for informative text to communicate something is in progress. */
$colorColorFgInfoBold: $colorBaseColorsLightblue700;    
/* Use for tertiary text, such as helper text and meta-data; */
$colorColorFgLighter: $colorBaseColorsGrey600;    
/* Use for text in selected or opened states. */
$colorColorFgSelected: $colorBaseColorsBlue800;    
/* Use for disabled text state. */
$colorColorFgDisabled: $colorBaseColorsBlack500;    
/* Use for text that reinforces our brand. */
$colorColorFgBrandDefault: $colorBaseColorsBlue700;    
/* Use for text that reinforces our brand. */
$colorColorFgBrandBolder: $colorBaseColorsBlue900;    
/* Use for text on interactive and bold backgrounds. */
$colorColorFgInverseLight: $colorBaseColorsWhite800;    
$colorColorFgAccentRedDefault: $colorBaseColorsRed500;    
$colorColorFgAccentRedBold: $colorBaseColorsRed700;    
$colorColorFgAccentGreenDefault: $colorBaseColorsGreen500;    
$colorColorFgAccentGreenBold: $colorBaseColorsGreen700;    
$colorColorFgAccentOrangeDefault: $colorBaseColorsOrange500;    
$colorColorFgAccentOrangeBold: $colorBaseColorsOrange700;    
$colorColorFgAccentPinkDefault: $colorBaseColorsPink500;    
$colorColorFgAccentPinkBold: $colorBaseColorsPink700;    
$colorColorFgAccentRoseDefault: $colorBaseColorsRose500;    
$colorColorFgAccentRoseBold: $colorBaseColorsRose700;    
$colorColorFgAccentYellowDefault: $colorBaseColorsYellow500;    
$colorColorFgAccentYellowBold: $colorBaseColorsYellow700;    
$colorColorFgAccentCyanDefault: $colorBaseColorsCyan500;    
$colorColorFgAccentCyanBold: $colorBaseColorsCyan700;    
$colorColorFgAccentFuchsiaDefault: $colorBaseColorsFuchsia500;    
$colorColorFgAccentFuchsiaBold: $colorBaseColorsFuchsia700;    
$colorColorFgAccentTealDefault: $colorBaseColorsTeal500;    
$colorColorFgAccentTealBold: $colorBaseColorsTeal700;    
$colorColorFgAccentLimeDefault: $colorBaseColorsLime500;    
$colorColorFgAccentLimeBold: $colorBaseColorsLime700;    
/* Use for tertiary text, such as helper text and meta-data; */
$colorColorFgLightest: $colorBaseColorsGrey500;    
$colorColorBgDangerLightestDefault: $colorBaseColorsRed50;    
$colorColorBgDangerLightestHovered: $colorBaseColorsRed100;    
$colorColorBgDangerLightestPressed: $colorBaseColorsRed200;    
$colorColorBgWarningLightestDefault: $colorBaseColorsOrange50;    
$colorColorBgWarningLightestHovered: $colorBaseColorsOrange100;    
$colorColorBgWarningLightestPressed: $colorBaseColorsOrange200;    
$colorColorBgSuccessLightestDefault: $colorBaseColorsGreen50;    
$colorColorBgSuccessLightestHovered: $colorBaseColorsGreen100;    
$colorColorBgSuccessLightestPressed: $colorBaseColorsGreen200;    
$colorColorBgInfoLightestDefault: $colorBaseColorsLightblue50;    
$colorColorBgInfoLightestHovered: $colorBaseColorsLightblue100;    
$colorColorBgInfoLightestPressed: $colorBaseColorsLightblue200;    
$colorColorBgBrandBolderDefault: $colorBaseColorsBlue700;    
$colorColorBgBrandBolderHovered: $colorBaseColorsBlue800;    
$colorColorBgBrandBolderPressed: $colorBaseColorsBlue900;    
$colorColorBgAccentPinkLightestDefault: $colorBaseColorsPink50;    
$colorColorBgAccentPinkLightestHovered: $colorBaseColorsPink200;    
$colorColorBgAccentPinkLightestPressed: $colorBaseColorsPink300;    
$colorColorBgAccentPinkLighterDefault: $colorBaseColorsPink200;    
$colorColorBgAccentPinkLighterHovered: $colorBaseColorsPink300;    
$colorColorBgAccentPinkLighterPressed: $colorBaseColorsPink400;    
$colorColorBgAccentPinkLightDefault: $colorBaseColorsPink500;    
$colorColorBgAccentPinkLightHovered: $colorBaseColorsPink600;    
$colorColorBgAccentPinkLightPressed: $colorBaseColorsPink700;    
$colorColorBgAccentPinkBoldDefault: $colorBaseColorsPink700;    
$colorColorBgAccentPinkBoldHovered: $colorBaseColorsPink800;    
$colorColorBgAccentPinkBoldPressed: $colorBaseColorsPink900;    
$colorColorBgAccentRoseLightestDefault: $colorBaseColorsRose50;    
$colorColorBgAccentRoseLightestHovered: $colorBaseColorsRose200;    
$colorColorBgAccentRoseLightestPressed: $colorBaseColorsRose300;    
$colorColorBgAccentRoseLighterDefault: $colorBaseColorsRose200;    
$colorColorBgAccentRoseLighterHovered: $colorBaseColorsRose300;    
$colorColorBgAccentRoseLighterPressed: $colorBaseColorsRose400;    
$colorColorBgAccentRoseLightDefault: $colorBaseColorsRose500;    
$colorColorBgAccentRoseLightHovered: $colorBaseColorsRose600;    
$colorColorBgAccentRoseLightPressed: $colorBaseColorsRose700;    
$colorColorBgAccentRoseBoldDefault: $colorBaseColorsRose700;    
$colorColorBgAccentRoseBoldHovered: $colorBaseColorsRose800;    
$colorColorBgAccentRoseBoldPressed: $colorBaseColorsRose900;    
$colorColorBgAccentYellowLightestDefault: $colorBaseColorsYellow50;    
$colorColorBgAccentYellowLightestHovered: $colorBaseColorsYellow200;    
$colorColorBgAccentYellowLightestPressed: $colorBaseColorsYellow300;    
$colorColorBgAccentYellowLighterDefault: $colorBaseColorsYellow200;    
$colorColorBgAccentYellowLighterHovered: $colorBaseColorsYellow300;    
$colorColorBgAccentYellowLighterPressed: $colorBaseColorsYellow400;    
$colorColorBgAccentYellowLightDefault: $colorBaseColorsYellow500;    
$colorColorBgAccentYellowLightHovered: $colorBaseColorsYellow600;    
$colorColorBgAccentYellowLightPressed: $colorBaseColorsYellow700;    
$colorColorBgAccentYellowBoldDefault: $colorBaseColorsYellow700;    
$colorColorBgAccentYellowBoldHovered: $colorBaseColorsYellow800;    
$colorColorBgAccentYellowBoldPressed: $colorBaseColorsYellow900;    
$colorColorBgAccentCyanLightestDefault: $colorBaseColorsCyan50;    
$colorColorBgAccentCyanLightestHovered: $colorBaseColorsCyan200;    
$colorColorBgAccentCyanLightestPressed: $colorBaseColorsCyan300;    
$colorColorBgAccentCyanLighterDefault: $colorBaseColorsCyan200;    
$colorColorBgAccentCyanLighterHovered: $colorBaseColorsCyan300;    
$colorColorBgAccentCyanLighterPressed: $colorBaseColorsCyan400;    
$colorColorBgAccentCyanLightDefault: $colorBaseColorsCyan500;    
$colorColorBgAccentCyanLightHovered: $colorBaseColorsCyan600;    
$colorColorBgAccentCyanLightPressed: $colorBaseColorsCyan700;    
$colorColorBgAccentCyanBoldDefault: $colorBaseColorsCyan700;    
$colorColorBgAccentCyanBoldHovered: $colorBaseColorsCyan800;    
$colorColorBgAccentCyanBoldPressed: $colorBaseColorsCyan900;    
$colorColorBgAccentFuchsiaLightestDefault: $colorBaseColorsFuchsia50;    
$colorColorBgAccentFuchsiaLightestHovered: $colorBaseColorsFuchsia200;    
$colorColorBgAccentFuchsiaLightestPressed: $colorBaseColorsFuchsia300;    
$colorColorBgAccentFuchsiaLighterDefault: $colorBaseColorsFuchsia200;    
$colorColorBgAccentFuchsiaLighterHovered: $colorBaseColorsFuchsia300;    
$colorColorBgAccentFuchsiaLighterPressed: $colorBaseColorsFuchsia400;    
$colorColorBgAccentFuchsiaLightDefault: $colorBaseColorsFuchsia500;    
$colorColorBgAccentFuchsiaLightHovered: $colorBaseColorsFuchsia600;    
$colorColorBgAccentFuchsiaLightPressed: $colorBaseColorsFuchsia700;    
$colorColorBgAccentFuchsiaBoldDefault: $colorBaseColorsFuchsia700;    
$colorColorBgAccentFuchsiaBoldHovered: $colorBaseColorsFuchsia800;    
$colorColorBgAccentFuchsiaBoldPressed: $colorBaseColorsFuchsia900;    
$colorColorBgAccentTealLightestDefault: $colorBaseColorsTeal50;    
$colorColorBgAccentTealLightestHovered: $colorBaseColorsTeal200;    
$colorColorBgAccentTealLightestPressed: $colorBaseColorsTeal300;    
$colorColorBgAccentTealLighterDefault: $colorBaseColorsTeal200;    
$colorColorBgAccentTealLighterHovered: $colorBaseColorsTeal300;    
$colorColorBgAccentTealLighterPressed: $colorBaseColorsTeal400;    
$colorColorBgAccentTealLightDefault: $colorBaseColorsTeal500;    
$colorColorBgAccentTealLightHovered: $colorBaseColorsTeal600;    
$colorColorBgAccentTealLightPressed: $colorBaseColorsTeal700;    
$colorColorBgAccentTealBoldDefault: $colorBaseColorsTeal700;    
$colorColorBgAccentTealBoldHovered: $colorBaseColorsTeal800;    
$colorColorBgAccentTealBoldPressed: $colorBaseColorsTeal900;    
$colorColorBgAccentLimeLightestDefault: $colorBaseColorsLime50;    
$colorColorBorderBrandDefault: $colorBaseColorsBlue600;    
$colorColorBgAccentLimeLightestHovered: $colorBaseColorsLime200;    
$colorColorBgAccentLimeLightestPressed: $colorBaseColorsLime300;    
$colorColorBorderBrandBold: $colorBaseColorsBlue900;    
$colorColorBorderBrandLight: $colorBaseColorsBlue300;    
$colorColorBgAccentLimeLighterDefault: $colorBaseColorsLime200;    
$colorColorBorderSupportDangerDefault: $colorBaseColorsRed500;    
$colorColorBorderSupportDangerLight: $colorBaseColorsRed300;    
$colorColorBorderSupportWarningDefault: $colorBaseColorsOrange500;    
$colorColorBorderSupportWarningLight: $colorBaseColorsOrange300;    
$colorColorBorderSupportSuccessDefault: $colorBaseColorsGreen500;    
$colorColorBorderSupportSuccessLight: $colorBaseColorsGreen300;    
$colorColorBorderSupportInfoDefault: $colorBaseColorsLightblue500;    
$colorColorBorderSupportInfoLight: $colorBaseColorsLightblue300;    
$colorColorBgAccentLimeLighterHovered: $colorBaseColorsLime300;    
$colorColorBorderAccentRedDefault: $colorBaseColorsRed500;    
$colorColorBorderAccentRedBold: $colorBaseColorsRed700;    
$colorColorBgAccentLimeLighterPressed: $colorBaseColorsLime400;    
$colorColorBorderAccentRedLight: $colorBaseColorsRed300;    
$colorColorBgAccentLimeLightDefault: $colorBaseColorsLime500;    
$colorColorBorderAccentGreenDefault: $colorBaseColorsGreen500;    
$colorColorBorderAccentGreenBold: $colorBaseColorsGreen700;    
$colorColorBgAccentLimeLightHovered: $colorBaseColorsLime600;    
$colorColorBorderAccentGreenLight: $colorBaseColorsGreen300;    
$colorColorBgAccentLimeLightPressed: $colorBaseColorsLime700;    
$colorColorBorderAccentOrangeDefault: $colorBaseColorsOrange500;    
$colorColorBorderAccentOrangeBold: $colorBaseColorsOrange700;    
$colorColorBgAccentLimeBoldDefault: $colorBaseColorsLime700;    
$colorColorBorderAccentOrangeLight: $colorBaseColorsOrange300;    
$colorColorBorderAccentPinkDefault: $colorBaseColorsPink500;    
$colorColorBgAccentLimeBoldHovered: $colorBaseColorsLime800;    
$colorColorBgAccentLimeBoldPressed: $colorBaseColorsLime900;    
$colorColorBorderAccentPinkBold: $colorBaseColorsPink700;    
$colorColorBorderAccentPinkLight: $colorBaseColorsPink300;    
$colorColorBorderAccentRoseDefault: $colorBaseColorsRose500;    
$colorColorBorderAccentRoseBold: $colorBaseColorsRose700;    
$colorColorBorderAccentRoseLight: $colorBaseColorsRose300;    
$colorColorBorderAccentYellowDefault: $colorBaseColorsYellow500;    
$colorColorBorderAccentYellowBold: $colorBaseColorsYellow700;    
$colorColorBorderAccentYellowLight: $colorBaseColorsYellow300;    
$colorColorBorderAccentCyanDefault: $colorBaseColorsCyan500;    
$colorColorBorderAccentCyanBold: $colorBaseColorsCyan700;    
$colorColorBorderAccentCyanLight: $colorBaseColorsCyan300;    
$colorColorBorderAccentFuchsiaDefault: $colorBaseColorsFuchsia500;    
$colorColorBorderAccentFuchsiaBold: $colorBaseColorsFuchsia700;    
$colorColorBorderAccentFuchsiaLight: $colorBaseColorsFuchsia300;    
$colorColorBorderAccentTealDefault: $colorBaseColorsTeal500;    
$colorColorBorderAccentTealBold: $colorBaseColorsTeal700;    
$colorColorBorderAccentTealLight: $colorBaseColorsTeal300;    
$colorColorBorderAccentLimeDefault: $colorBaseColorsLime500;    
$colorColorBorderAccentLimeBold: $colorBaseColorsLime700;    
$colorColorBorderAccentLimeLight: $colorBaseColorsLime300;    
$colorColorBorderInverse: $colorBaseColorsWhite1000;    
$colorColorBorderSelected: $colorBaseColorsBlue200;    
$colorColorBgNeutralBolderDefault: $colorBaseColorsGrey800;    
$colorColorBgNeutralBolderHovered: $colorBaseColorsGrey900;    
$colorColorBgNeutralBolderPressed: $colorBaseColorsGrey1000;    
