$measureDimensionSpacingSpacing1: 2px;    
$measureDimensionSpacingSpacing2: 4px;    
$measureDimensionSpacingSpacing3: 8px;    
$measureDimensionSpacingSpacing4: 12px;    
$measureDimensionSpacingSpacing5: 16px;    
$measureDimensionSpacingSpacing6: 24px;    
$measureDimensionSpacingSpacing7: 32px;    
$measureDimensionSpacingSpacing8: 40px;    
$measureDimensionSpacingSpacing9: 48px;    
$measureDimensionSpacingSpacing10: 64px;    
$measureDimensionSpacingSpacing11: 80px;    
$measureDimensionSpacingSpacing12: 96px;    
$measureDimensionSpacingSpacing13: 160px;    
$measureDimensionRadiusNone: 0px;    
$measureDimensionRadiusRound: 100000px;    
$measureDimensionOpacityDisabled: 40px;    
$measureDimensionRadiusXxxSmall: $measureDimensionSpacingSpacing1;    
$measureDimensionRadiusXxSmall: $measureDimensionSpacingSpacing2;    
$measureDimensionRadiusXSmall: $measureDimensionSpacingSpacing3;    
$measureDimensionRadiusSmall: $measureDimensionSpacingSpacing4;    
$measureDimensionRadiusMedium: $measureDimensionSpacingSpacing5;    
$measureDimensionRadiusLarge: $measureDimensionSpacingSpacing6;    
$measureDimensionRadiusXLarge: $measureDimensionSpacingSpacing7;    
$measureDimensionRadiusXxLarge: $measureDimensionSpacingSpacing9;    
$measureDimensionRadiusXxxLarge: $measureDimensionSpacingSpacing10;    
$measureDimensionGapXxxSmall: $measureDimensionSpacingSpacing1;    
$measureDimensionGapXxSmall: $measureDimensionSpacingSpacing2;    
$measureDimensionGapXSmall: $measureDimensionSpacingSpacing3;    
$measureDimensionGapSmall: $measureDimensionSpacingSpacing4;    
$measureDimensionGapMedium: $measureDimensionSpacingSpacing5;    
$measureDimensionGapLarge: $measureDimensionSpacingSpacing6;    
$measureDimensionGapXLarge: $measureDimensionSpacingSpacing7;    
$measureDimensionGapXxLarge: $measureDimensionSpacingSpacing9;    
$measureDimensionGapXxxLarge: $measureDimensionSpacingSpacing10;    
$measureDimensionSizeSize100: $measureDimensionSpacingSpacing1;    
$measureDimensionBorderWidthXxxSmall: $measureDimensionSpacingSpacing1;    
