$measureDimensionSpacingSpacing1: 2px;    
$measureDimensionSpacingSpacing2: 4px;    
$measureDimensionSpacingSpacing3: 8px;    
$measureDimensionSpacingSpacing4: 12px;    
$measureDimensionSpacingSpacing5: 16px;    
$measureDimensionSpacingSpacing6: 24px;    
$measureDimensionSpacingSpacing7: 32px;    
$measureDimensionSpacingSpacing8: 40px;    
$measureDimensionSpacingSpacing9: 48px;    
$measureDimensionSpacingSpacing10: 64px;    
$measureDimensionSpacingSpacing11: 80px;    
$measureDimensionSpacingSpacing12: 96px;    
$measureDimensionSpacingSpacing13: 160px;    
$measureDimensionRadiusNone: 0px;    
$measureDimensionRadiusRound: 100000px;    
$measureDimensionOpacityDisabled: 40px;    
$measureDimensionSpacingSpacing0: 0px;    
$measureDimensionCoreSize0: 0px;    
$measureDimensionCoreSize1: 1px;    
$measureDimensionCoreSize2: 2px;    
$measureDimensionCoreSize4: 4px;    
$measureDimensionCoreSize6: 6px;    
$measureDimensionCoreSize8: 8px;    
$measureDimensionCoreSize10: 10px;    
$measureDimensionCoreSize12: 12px;    
$measureDimensionCoreSize14: 14px;    
$measureDimensionCoreSize16: 16px;    
$measureDimensionCoreSize18: 18px;    
$measureDimensionCoreSize20: 20px;    
$measureDimensionCoreSize22: 22px;    
$measureDimensionCoreSize24: 24px;    
$measureDimensionCoreSize26: 26px;    
$measureDimensionCoreSize28: 28px;    
$measureDimensionCoreSize30: 30px;    
$measureDimensionCoreSize32: 32px;    
$measureDimensionCoreSize36: 36px;    
$measureDimensionCoreSize38: 38px;    
$measureDimensionCoreSize40: 40px;    
$measureDimensionCoreSize42: 42px;    
$measureDimensionCoreSize44: 44px;    
$measureDimensionCoreSize46: 46px;    
$measureDimensionCoreSize48: 48px;    
$measureDimensionCoreSize50: 50px;    
$measureDimensionCoreSize52: 52px;    
$measureDimensionCoreSize54: 54px;    
$measureDimensionCoreSize56: 56px;    
$measureDimensionCoreSize58: 58px;    
$measureDimensionCoreSize60: 60px;    
$measureDimensionCoreSize62: 62px;    
$measureDimensionCoreSize64: 64px;    
$measureDimensionCoreSize68: 68px;    
$measureDimensionCoreSize70: 70px;    
$measureDimensionCoreSize72: 72px;    
$measureDimensionCoreSize74: 74px;    
$measureDimensionCoreSize76: 76px;    
$measureDimensionCoreSize78: 78px;    
$measureDimensionCoreSize80: 80px;    
$measureDimensionCoreSize82: 82px;    
$measureDimensionGapNone: 0px;    
$measureDimensionOpacity10: 10px;    
$measureDimensionRadiusXxxSmall: $measureDimensionCoreSize2;    
$measureDimensionRadiusXxSmall: $measureDimensionCoreSize4;    
$measureDimensionRadiusXSmall: $measureDimensionCoreSize6;    
$measureDimensionRadiusSmall: $measureDimensionCoreSize8;    
$measureDimensionRadiusMedium: $measureDimensionCoreSize12;    
$measureDimensionRadiusLarge: $measureDimensionCoreSize16;    
$measureDimensionRadiusXLarge: $measureDimensionCoreSize24;    
$measureDimensionRadiusXxLarge: $measureDimensionCoreSize32;    
$measureDimensionRadiusXxxLarge: $measureDimensionCoreSize48;    
$measureDimensionGapXxxSmall: $measureDimensionCoreSize2;    
$measureDimensionGapXxSmall: $measureDimensionCoreSize4;    
$measureDimensionGapXSmall: $measureDimensionCoreSize6;    
$measureDimensionGapSmall: $measureDimensionCoreSize8;    
$measureDimensionGapMedium: $measureDimensionCoreSize12;    
$measureDimensionGapLarge: $measureDimensionCoreSize16;    
$measureDimensionGapXLarge: $measureDimensionCoreSize20;    
$measureDimensionGapXxLarge: $measureDimensionCoreSize24;    
$measureDimensionGapXxxLarge: $measureDimensionCoreSize32;    
$measureDimensionSizeSize100: $measureDimensionSpacingSpacing1;    
$measureDimensionBorderWidthXxxSmall: $measureDimensionSpacingSpacing1;    
