$measureDimensionSpacingSpacing1: 2px;    
$measureDimensionSpacingSpacing2: 4px;    
$measureDimensionSpacingSpacing3: 8px;    
$measureDimensionSpacingSpacing4: 12px;    
$measureDimensionSpacingSpacing5: 16px;    
$measureDimensionSpacingSpacing6: 24px;    
$measureDimensionSpacingSpacing7: 32px;    
$measureDimensionSpacingSpacing8: 40px;    
$measureDimensionSpacingSpacing9: 48px;    
$measureDimensionSpacingSpacing10: 64px;    
$measureDimensionSpacingSpacing11: 80px;    
$measureDimensionSpacingSpacing12: 96px;    
$measureDimensionSpacingSpacing13: 160px;    
$measureDimensionRadiusNone: 0px;    
$measureDimensionRadiusRound: 100000px;    
$measureDimensionOpacityDisabled: 40px;    
$measureDimensionSpacingSpacing0: 0px;    
$measureDimensionDimensionSize0: 0px;    
$measureDimensionDimensionSize1: 1px;    
$measureDimensionDimensionSize2: 2px;    
$measureDimensionDimensionSize3: 4px;    
$measureDimensionDimensionSize4: 6px;    
$measureDimensionDimensionSize5: 8px;    
$measureDimensionDimensionSize6: 10px;    
$measureDimensionDimensionSize7: 12px;    
$measureDimensionDimensionSize8: 14px;    
$measureDimensionDimensionSize9: 16px;    
$measureDimensionDimensionSize10: 18px;    
$measureDimensionDimensionSize11: 20px;    
$measureDimensionDimensionSize12: 22px;    
$measureDimensionDimensionSize13: 24px;    
$measureDimensionDimensionSize14: 26px;    
$measureDimensionDimensionSize15: 28px;    
$measureDimensionDimensionSize16: 30px;    
$measureDimensionDimensionSize17: 32px;    
$measureDimensionDimensionSize18: 36px;    
$measureDimensionDimensionSize19: 38px;    
$measureDimensionDimensionSize20: 40px;    
$measureDimensionDimensionSize21: 42px;    
$measureDimensionDimensionSize22: 44px;    
$measureDimensionDimensionSize23: 46px;    
$measureDimensionDimensionSize24: 48px;    
$measureDimensionDimensionSize25: 50px;    
$measureDimensionDimensionSize26: 52px;    
$measureDimensionDimensionSize28: 54px;    
$measureDimensionDimensionSize29: 56px;    
$measureDimensionDimensionSize30: 58px;    
$measureDimensionDimensionSize40: 60px;    
$measureDimensionDimensionSize41: 62px;    
$measureDimensionDimensionSize42: 64px;    
$measureDimensionDimensionSize43: 68px;    
$measureDimensionDimensionSize44: 70px;    
$measureDimensionDimensionSize45: 72px;    
$measureDimensionDimensionSize46: 74px;    
$measureDimensionDimensionSize47: 76px;    
$measureDimensionDimensionSize48: 78px;    
$measureDimensionDimensionSize49: 80px;    
$measureDimensionDimensionSize50: 82px;    
$measureDimensionRadiusXxxSmall: $measureDimensionDimensionSize2;    
$measureDimensionRadiusXxSmall: $measureDimensionDimensionSize3;    
$measureDimensionRadiusXSmall: $measureDimensionDimensionSize4;    
$measureDimensionRadiusSmall: $measureDimensionDimensionSize5;    
$measureDimensionRadiusMedium: $measureDimensionDimensionSize7;    
$measureDimensionRadiusLarge: $measureDimensionDimensionSize9;    
$measureDimensionRadiusXLarge: $measureDimensionDimensionSize13;    
$measureDimensionRadiusXxLarge: $measureDimensionDimensionSize17;    
$measureDimensionRadiusXxxLarge: $measureDimensionDimensionSize24;    
$measureDimensionGapXxxSmall: $measureDimensionDimensionSize2;    
$measureDimensionGapXxSmall: $measureDimensionDimensionSize3;    
$measureDimensionGapXSmall: $measureDimensionDimensionSize4;    
$measureDimensionGapSmall: $measureDimensionDimensionSize5;    
$measureDimensionGapMedium: $measureDimensionDimensionSize7;    
$measureDimensionGapLarge: $measureDimensionDimensionSize9;    
$measureDimensionGapXLarge: $measureDimensionDimensionSize11;    
$measureDimensionGapXxLarge: $measureDimensionDimensionSize13;    
$measureDimensionGapXxxLarge: $measureDimensionDimensionSize17;    
$measureDimensionSizeSize100: $measureDimensionSpacingSpacing1;    
$measureDimensionBorderWidthXxxSmall: $measureDimensionSpacingSpacing1;    
