
.typographyBaseTypographyBodyNewRegular 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyBaseTypographyInterfaceMediumSm 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyBaseTypographyInterfaceMediumM 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyBaseTypographyInterfaceMediumMl 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyBaseTypographyInterfaceDefaultS 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyBaseTypographyNewEnInterfaceMediumM 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyEnInterfaceMediumSm 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyEnInterfaceMediumM 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyBaseTypographyHeading 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyBaseTypographySubheading 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyBaseTypographyTitle1 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyBaseTypographySubtitle1 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyBaseTypographyCaption 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyBaseTypographyBodyNewMedium 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyBaseTypographyBodyNewSemibold 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyBaseTypographyBodyNewBold 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyBaseTypographyInterfaceDefaultSm 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyBaseTypographyInterfaceDefaultM 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyBaseTypographyInterfaceDefaultMl 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyBaseTypographyInterfaceDefaultL 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyBaseTypographyInterfaceMediumS 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyBaseTypographyInterfaceMediumL 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyBaseTypographyInterfaceStrongXxs 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 600;
  font-size: 8px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyBaseTypographyInterfaceStrongS 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyBaseTypographyInterfaceStrongSm 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyBaseTypographyInterfaceStrongM 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyBaseTypographyInterfaceStrongMl 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyBaseTypographyInterfaceStrongL 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyEnSubheading 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyEnTitle1 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyEnSubtitle1 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyEnCaption 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  letter-spacing: 0.01em; 
  text-indent: 0px; 
}    

.typographyEnBodyNewRegular 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyEnBodyNewMedium 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyEnBodyNewSemibold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyEnBodyNewBold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyEnInterfaceDefaultS 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyEnInterfaceDefaultSm 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyEnInterfaceDefaultM 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyEnInterfaceDefaultMl 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyEnInterfaceDefaultL 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyEnInterfaceMediumS 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyEnInterfaceMediumMl 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyEnInterfaceMediumL 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyEnInterfaceStrongXxs 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 8px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyEnInterfaceStrongS 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyEnInterfaceStrongSm 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyEnInterfaceStrongM 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyEnInterfaceStrongMl 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyEnInterfaceStrongL 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyArSubheading 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyArTitle1 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyArSubtitle1 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyArCaption 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyArHeading 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyArBodyNewRegular 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyArBodyNewMedium 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyArBodyNewSemibold 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyArBodyNewBold 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyArInterfaceDefaultS 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyArInterfaceDefaultSm 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyArInterfaceDefaultM 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyArInterfaceDefaultMl 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyArInterfaceDefaultL 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyArInterfaceMediumSm 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyArInterfaceMediumM 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyArInterfaceMediumMl 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyArInterfaceMediumL 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyArInterfaceStrongXxs 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 700;
  font-size: 8px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyArInterfaceStrongS 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyArInterfaceStrongM 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyArInterfaceStrongMl 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyArInterfaceStrongL 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyEnInterfaceMediumSUnderline 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyEnInterfaceMediumMUnderline 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyBaseTypographyBodyNewRegular 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyBaseTypographyInterfaceMediumSm 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyBaseTypographyInterfaceMediumM 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyBaseTypographyInterfaceMediumMl 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyBaseTypographyInterfaceDefaultS 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyBaseTypographyNewEnInterfaceMediumM 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyEnInterfaceMediumSm 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyEnInterfaceMediumM 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyBaseTypographyHeading 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyBaseTypographySubheading 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyBaseTypographyTitle1 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyBaseTypographySubtitle1 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyBaseTypographyCaption 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyBaseTypographyBodyNewMedium 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyBaseTypographyBodyNewSemibold 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyBaseTypographyBodyNewBold 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyBaseTypographyInterfaceDefaultSm 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyBaseTypographyInterfaceDefaultM 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyBaseTypographyInterfaceDefaultMl 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyBaseTypographyInterfaceDefaultL 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyBaseTypographyInterfaceMediumS 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyBaseTypographyInterfaceMediumL 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyBaseTypographyInterfaceStrongXxs 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 600;
  font-size: 8px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyBaseTypographyInterfaceStrongS 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyBaseTypographyInterfaceStrongSm 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyBaseTypographyInterfaceStrongM 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyBaseTypographyInterfaceStrongMl 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyBaseTypographyInterfaceStrongL 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyEnSubheading 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyEnTitle1 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyEnSubtitle1 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyEnCaption 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  letter-spacing: 0.01em; 
  text-indent: 0px; 
}    

@mixin typographyEnBodyNewRegular 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyEnBodyNewMedium 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyEnBodyNewSemibold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyEnBodyNewBold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyEnInterfaceDefaultS 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyEnInterfaceDefaultSm 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyEnInterfaceDefaultM 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyEnInterfaceDefaultMl 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyEnInterfaceDefaultL 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyEnInterfaceMediumS 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyEnInterfaceMediumMl 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyEnInterfaceMediumL 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyEnInterfaceStrongXxs 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 8px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyEnInterfaceStrongS 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyEnInterfaceStrongSm 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyEnInterfaceStrongM 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyEnInterfaceStrongMl 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyEnInterfaceStrongL 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyArSubheading 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyArTitle1 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyArSubtitle1 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyArCaption 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyArHeading 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyArBodyNewRegular 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyArBodyNewMedium 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyArBodyNewSemibold 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyArBodyNewBold 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyArInterfaceDefaultS 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyArInterfaceDefaultSm 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyArInterfaceDefaultM 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyArInterfaceDefaultMl 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyArInterfaceDefaultL 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyArInterfaceMediumSm 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyArInterfaceMediumM 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyArInterfaceMediumMl 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyArInterfaceMediumL 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyArInterfaceStrongXxs 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 700;
  font-size: 8px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyArInterfaceStrongS 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyArInterfaceStrongM 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyArInterfaceStrongMl 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyArInterfaceStrongL 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyEnInterfaceMediumSUnderline 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyEnInterfaceMediumMUnderline 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

