
.typographyBaseTypographyBodyNewRegular 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyBaseTypographyInterfaceMediumSm 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyBaseTypographyInterfaceMediumM 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyBaseTypographyInterfaceMediumMl 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyBaseTypographyInterfaceDefaultS 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyBaseTypographyNewEnInterfaceMediumM 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyNewEnInterfaceMediumSm 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyNewEnInterfaceMediumM 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyBaseTypographyHeading 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyBaseTypographySubheading 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyBaseTypographyTitle1 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyBaseTypographySubtitle1 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyBaseTypographyCaption 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyBaseTypographyBodyNewMedium 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyBaseTypographyBodyNewSemibold 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyBaseTypographyBodyNewBold 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyBaseTypographyInterfaceDefaultSm 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyBaseTypographyInterfaceDefaultM 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyBaseTypographyInterfaceDefaultMl 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyBaseTypographyInterfaceDefaultL 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyBaseTypographyInterfaceMediumS 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyBaseTypographyInterfaceMediumL 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyBaseTypographyInterfaceStrongXxs 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 600;
  font-size: 8px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyBaseTypographyInterfaceStrongS 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyBaseTypographyInterfaceStrongSm 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyBaseTypographyInterfaceStrongM 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyBaseTypographyInterfaceStrongMl 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyBaseTypographyInterfaceStrongL 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyNewEnHeading 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyNewEnSubheading 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyNewEnTitle1 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyNewEnSubtitle1 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyNewEnCaption 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyNewEnBodyNewRegular 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyNewEnBodyNewMedium 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyNewEnBodyNewSemibold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyNewEnBodyNewBold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyNewEnInterfaceDefaultS 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyNewEnInterfaceDefaultSm 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyNewEnInterfaceDefaultM 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyNewEnInterfaceDefaultMl 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyNewEnInterfaceDefaultL 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyNewEnInterfaceMediumS 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyNewEnInterfaceMediumMl 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyNewEnInterfaceMediumL 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyNewEnInterfaceStrongXxs 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 8px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyNewEnInterfaceStrongS 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyNewEnInterfaceStrongSm 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyNewEnInterfaceStrongM 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyNewEnInterfaceStrongMl 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyNewEnInterfaceStrongL 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyNewArSubheading 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyNewArTitle1 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyNewArSubtitle1 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyNewArCaption 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyNewArHeading 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyNewArBodyNewRegular 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyNewArBodyNewMedium 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyNewArBodyNewSemibold 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyNewArBodyNewBold 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyNewArInterfaceDefaultS 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyNewArInterfaceDefaultSm 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyNewArInterfaceDefaultM 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyNewArInterfaceDefaultMl 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyNewArInterfaceDefaultL 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyNewArInterfaceMediumSm 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyNewArInterfaceMediumM 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyNewArInterfaceMediumMl 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyNewArInterfaceMediumL 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyNewArInterfaceStrongXxs 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 700;
  font-size: 8px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyNewArInterfaceStrongS 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyNewArInterfaceStrongM 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyNewArInterfaceStrongMl 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyNewArInterfaceStrongL 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyBaseTypographyBodyNewRegular 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyBaseTypographyInterfaceMediumSm 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyBaseTypographyInterfaceMediumM 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyBaseTypographyInterfaceMediumMl 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyBaseTypographyInterfaceDefaultS 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyBaseTypographyNewEnInterfaceMediumM 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyNewEnInterfaceMediumSm 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyNewEnInterfaceMediumM 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyBaseTypographyHeading 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyBaseTypographySubheading 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyBaseTypographyTitle1 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyBaseTypographySubtitle1 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyBaseTypographyCaption 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyBaseTypographyBodyNewMedium 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyBaseTypographyBodyNewSemibold 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyBaseTypographyBodyNewBold 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyBaseTypographyInterfaceDefaultSm 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyBaseTypographyInterfaceDefaultM 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyBaseTypographyInterfaceDefaultMl 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyBaseTypographyInterfaceDefaultL 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyBaseTypographyInterfaceMediumS 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyBaseTypographyInterfaceMediumL 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyBaseTypographyInterfaceStrongXxs 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 600;
  font-size: 8px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyBaseTypographyInterfaceStrongS 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyBaseTypographyInterfaceStrongSm 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyBaseTypographyInterfaceStrongM 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyBaseTypographyInterfaceStrongMl 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyBaseTypographyInterfaceStrongL 
{ 
  
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyNewEnHeading 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyNewEnSubheading 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyNewEnTitle1 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyNewEnSubtitle1 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyNewEnCaption 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyNewEnBodyNewRegular 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyNewEnBodyNewMedium 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyNewEnBodyNewSemibold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyNewEnBodyNewBold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyNewEnInterfaceDefaultS 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyNewEnInterfaceDefaultSm 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyNewEnInterfaceDefaultM 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyNewEnInterfaceDefaultMl 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyNewEnInterfaceDefaultL 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyNewEnInterfaceMediumS 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyNewEnInterfaceMediumMl 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyNewEnInterfaceMediumL 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyNewEnInterfaceStrongXxs 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 8px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyNewEnInterfaceStrongS 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyNewEnInterfaceStrongSm 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyNewEnInterfaceStrongM 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyNewEnInterfaceStrongMl 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyNewEnInterfaceStrongL 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyNewArSubheading 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyNewArTitle1 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyNewArSubtitle1 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyNewArCaption 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyNewArHeading 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyNewArBodyNewRegular 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyNewArBodyNewMedium 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyNewArBodyNewSemibold 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyNewArBodyNewBold 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyNewArInterfaceDefaultS 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyNewArInterfaceDefaultSm 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyNewArInterfaceDefaultM 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyNewArInterfaceDefaultMl 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyNewArInterfaceDefaultL 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyNewArInterfaceMediumSm 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyNewArInterfaceMediumM 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyNewArInterfaceMediumMl 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyNewArInterfaceMediumL 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyNewArInterfaceStrongXxs 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 700;
  font-size: 8px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyNewArInterfaceStrongS 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyNewArInterfaceStrongM 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyNewArInterfaceStrongMl 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyNewArInterfaceStrongL 
{ 
  
  font-family: "SST Arabic";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

