
:root {
    --colorBaseColorsBlack100: #0000000d;    
    --colorBaseColorsBlack200: #0000001a;    
    --colorBaseColorsBlack300: #00000033;    
    --colorBaseColorsBlack400: #0000004d;    
    --colorBaseColorsBlack500: #00000080;    
    --colorBaseColorsBlack600: #000000cc;    
    --colorBaseColorsBlack700: #000000d9;    
    --colorBaseColorsBlack800: #000000e5;    
    --colorBaseColorsBlack900: #000000f2;    
    --colorBaseColorsBlack1000: #000000;    
    --colorBaseColorsWhite100: #ffffff0d;    
    --colorBaseColorsWhite200: #ffffff1a;    
    --colorBaseColorsWhite300: #ffffff33;    
    --colorBaseColorsWhite400: #ffffff4d;    
    --colorBaseColorsWhite500: #ffffff80;    
    --colorBaseColorsWhite600: #ffffffcc;    
    --colorBaseColorsWhite700: #ffffffd9;    
    --colorBaseColorsWhite800: #ffffffe5;    
    --colorBaseColorsWhite900: #fffffff2;    
    --colorBaseColorsGrey50: #fcfcfd;    
    --colorBaseColorsWhite1000: #ffffff;    
    --colorBaseColorsGrey100: #f9fafb;    
    --colorBaseColorsGrey200: #f2f4f7;    
    --colorBaseColorsGrey300: #eaecf0;    
    --colorBaseColorsGrey400: #d0d5dd;    
    /* base color */
    --colorBaseColorsGrey500: #98a2b3;    
    --colorBaseColorsGrey600: #667085;    
    --colorBaseColorsGrey700: #475467;    
    --colorBaseColorsGrey800: #344054;    
    --colorBaseColorsGrey900: #1d2939;    
    --colorBaseColorsGrey1000: #101828;    
    --colorBaseColorsBlue50: #f5f8ff;    
    --colorBaseColorsBlue100: #eff4ff;    
    --colorBaseColorsBlue200: #d1e0ff;    
    --colorBaseColorsBlue300: #b2ccff;    
    --colorBaseColorsBlue400: #84adff;    
    --colorBaseColorsBlue500: #528bff;    
    /* Brand color */
    --colorBaseColorsBlue600: #2970ff;    
    --colorBaseColorsBlue700: #155eef;    
    --colorBaseColorsBlue800: #004eeb;    
    --colorBaseColorsBlue900: #0040c1;    
    --colorBaseColorsBlue1000: #00359e;    
    --colorBaseColorsLightblue50: #f0f9ff;    
    --colorBaseColorsLightblue100: #e0f2fe;    
    --colorBaseColorsLightblue200: #b9e6fe;    
    --colorBaseColorsLightblue300: #7bd3fe;    
    --colorBaseColorsLightblue400: #35bdfb;    
    /* base color */
    --colorBaseColorsLightblue500: #0ba5ec;    
    --colorBaseColorsLightblue600: #0084ca;    
    --colorBaseColorsLightblue700: #0279bb;    
    --colorBaseColorsLightblue800: #0169a3;    
    --colorBaseColorsLightblue900: #0b496f;    
    --colorBaseColorsLightblue1000: #072f4a;    
    --colorBaseColorsPurple50: #faf8fc;    
    --colorBaseColorsPurple100: #eae0f1;    
    --colorBaseColorsPurple200: #cab3dd;    
    --colorBaseColorsPurple300: #a780c6;    
    --colorBaseColorsPurple400: #844daf;    
    /* base color */
    --colorBaseColorsPurple500: #69269d;    
    --colorBaseColorsPurple600: #4f038c;    
    --colorBaseColorsPurple700: #480384;    
    --colorBaseColorsPurple800: #3f0279;    
    --colorBaseColorsPurple900: #36026f;    
    /* brand color (Maken) */
    --colorBaseColorsPurple1000: #26015c;    
    --colorBaseColorsRed50: #fef3f2;    
    --colorBaseColorsRed100: #fee4e2;    
    --colorBaseColorsRed200: #ffcdc9;    
    --colorBaseColorsRed300: #fdaaa4;    
    --colorBaseColorsRed400: #f97970;    
    /* base color */
    --colorBaseColorsRed500: #f04438;    
    --colorBaseColorsRed600: #de3024;    
    --colorBaseColorsRed700: #bb241a;    
    --colorBaseColorsRed800: #9a221a;    
    --colorBaseColorsRed900: #80231c;    
    --colorBaseColorsRed1000: #460d09;    
    --colorBaseColorsGreen50: #ecfdf3;    
    --colorBaseColorsGreen100: #d1fadf;    
    --colorBaseColorsGreen200: #a8f2c6;    
    --colorBaseColorsGreen300: #6fe6a7;    
    --colorBaseColorsGreen400: #36d183;    
    /* base color */
    --colorBaseColorsGreen500: #12b76a;    
    /* base color */
    --colorBaseColorsGreen600: #079455;    
    --colorBaseColorsGreen700: #057747;    
    --colorBaseColorsGreen800: #075e3a;    
    --colorBaseColorsGreen900: #074d32;    
    --colorBaseColorsGreen1000: #022c1c;    
    --colorBaseColorsOrange50: #fff8ed;    
    --colorBaseColorsOrange100: #feefd6;    
    --colorBaseColorsOrange200: #fddcab;    
    --colorBaseColorsOrange300: #fbc276;    
    --colorBaseColorsOrange400: #f99d3e;    
    /* base color */
    --colorBaseColorsOrange500: #f68119;    
    /* base color */
    --colorBaseColorsOrange600: #eb670f;    
    --colorBaseColorsOrange700: #c04c0e;    
    --colorBaseColorsOrange800: #983d14;    
    --colorBaseColorsOrange900: #7b3413;    
    --colorBaseColorsOrange1000: #421708;    
    --colorBaseColorsPink50: #fdf2fa;    
    --colorBaseColorsPink100: #fce7f7;    
    --colorBaseColorsPink200: #fccef2;    
    --colorBaseColorsPink300: #faa7e5;    
    --colorBaseColorsPink400: #f670d2;    
    /* base color */
    --colorBaseColorsPink500: #ee46bc;    
    --colorBaseColorsPink600: #dd259d;    
    --colorBaseColorsPink700: #c01680;    
    --colorBaseColorsPink800: #9f156a;    
    --colorBaseColorsPink900: #84175a;    
    --colorBaseColorsPink1000: #510634;    
    --colorBaseColorsRose50: #fff1f3;    
    --colorBaseColorsRose100: #ffe4e8;    
    --colorBaseColorsRose200: #ffccd6;    
    --colorBaseColorsRose300: #fea3b4;    
    --colorBaseColorsRose400: #fd6f8d;    
    /* base color */
    --colorBaseColorsRose500: #f63d68;    
    --colorBaseColorsRose600: #e31b53;    
    --colorBaseColorsRose700: #c01046;    
    --colorBaseColorsRose800: #a11041;    
    --colorBaseColorsRose900: #89123e;    
    --colorBaseColorsRose1000: #4d041d;    
    --colorBaseColorsYellow50: #fefbe8;    
    --colorBaseColorsYellow100: #fef7c3;    
    --colorBaseColorsYellow200: #feeb8a;    
    --colorBaseColorsYellow300: #fdd947;    
    --colorBaseColorsYellow400: #fac315;    
    /* base color */
    --colorBaseColorsYellow500: #eaaa08;    
    --colorBaseColorsYellow600: #ca8204;    
    --colorBaseColorsYellow700: #a15c07;    
    --colorBaseColorsYellow800: #85480e;    
    --colorBaseColorsYellow900: #713b12;    
    --colorBaseColorsYellow1000: #421e06;    
    --colorBaseColorsFuchsia50: #fdf4ff;    
    --colorBaseColorsFuchsia100: #f9e8ff;    
    --colorBaseColorsFuchsia200: #f3cfff;    
    --colorBaseColorsFuchsia300: #eeaafd;    
    --colorBaseColorsFuchsia400: #e477fb;    
    /* base color */
    --colorBaseColorsFuchsia500: #d444f1;    
    --colorBaseColorsFuchsia600: #bb24d5;    
    --colorBaseColorsFuchsia700: #9d1ab1;    
    --colorBaseColorsFuchsia800: #831890;    
    --colorBaseColorsFuchsia900: #6e1976;    
    --colorBaseColorsFuchsia1000: #48034f;    
    --colorBaseColorsCyan50: #ecfdff;    
    --colorBaseColorsCyan100: #cff8fe;    
    --colorBaseColorsCyan200: #a5f0fc;    
    --colorBaseColorsCyan300: #67e2f9;    
    --colorBaseColorsCyan400: #22cbee;    
    /* base color */
    --colorBaseColorsCyan500: #06aed4;    
    --colorBaseColorsCyan600: #088ab2;    
    --colorBaseColorsCyan700: #0e6f90;    
    --colorBaseColorsCyan800: #155a75;    
    --colorBaseColorsCyan900: #164b63;    
    --colorBaseColorsCyan1000: #083144;    
    --colorBaseColorsTeal50: #f0fdf9;    
    --colorBaseColorsTeal100: #ccfbef;    
    --colorBaseColorsTeal200: #9af5e0;    
    --colorBaseColorsTeal300: #5fe9cd;    
    --colorBaseColorsTeal400: #2ed3b7;    
    /* base color */
    --colorBaseColorsTeal500: #15b79e;    
    --colorBaseColorsTeal600: #0e9381;    
    --colorBaseColorsTeal700: #107568;    
    --colorBaseColorsTeal800: #115e56;    
    --colorBaseColorsTeal900: #134e47;    
    --colorBaseColorsTeal1000: #042f2c;    
    --colorBaseColorsLime50: #f3fde8;    
    --colorBaseColorsLime100: #e3facd;    
    --colorBaseColorsLime200: #c9f6a0;    
    --colorBaseColorsLime300: #a7ed69;    
    --colorBaseColorsLime400: #86e03b;    
    /* base color */
    --colorBaseColorsLime500: #66c61c;    
    --colorBaseColorsLime600: #4c9e12;    
    --colorBaseColorsLime700: #3c7813;    
    --colorBaseColorsLime800: #325f15;    
    --colorBaseColorsLime900: #2c5116;    
    --colorBaseColorsLime1000: #132d06;    
    --colorColorBgBlanket: #000a1eb2;    
    /* default page background */
    --colorColorBgDefault: var(--colorBaseColorsWhite1000);    
    /* hight contrast background color */
    --colorColorBgDefaultInverse: var(--colorBaseColorsGrey1000);    
    --colorColorBgAccentRedLightestDefault: var(--colorBaseColorsRed50);    
    --colorColorBgAccentRedLightestHovered: var(--colorBaseColorsRed200);    
    --colorColorBgAccentRedLightestPressed: var(--colorBaseColorsRed300);    
    --colorColorBgBrandLightestDefault: var(--colorBaseColorsBlue50);    
    --colorColorBgBrandLightestPressed: var(--colorBaseColorsBlue200);    
    --colorColorBgBrandLightDefault: var(--colorBaseColorsBlue200);    
    --colorColorBgBrandLightHovered: var(--colorBaseColorsBlue400);    
    --colorColorBgBrandLightestHovered: var(--colorBaseColorsBlue100);    
    --colorColorBgBrandLightPressed: var(--colorBaseColorsBlue300);    
    --colorColorBgDangerLightDefault: var(--colorBaseColorsRed100);    
    --colorColorBgDangerLightHovered: var(--colorBaseColorsRed200);    
    --colorColorBgDangerBoldDefault: var(--colorBaseColorsRed500);    
    --colorColorBgDangerBoldHovered: var(--colorBaseColorsRed600);    
    --colorColorBgDangerLightPressed: var(--colorBaseColorsRed300);    
    --colorColorBgDangerBoldPressed: var(--colorBaseColorsRed700);    
    --colorColorBgBrandBoldDefault: var(--colorBaseColorsBlue600);    
    /* Use for links in default or hovered state. Add underline for hovered states. */
    --colorColorLinkDefault: var(--colorColorBgBrandBoldDefault);    
    --colorColorBgBrandBoldPressed: var(--colorBaseColorsBlue800);    
    /* Use for links in a pressed state */
    --colorColorLinkPressed: var(--colorColorBgBrandBoldPressed);    
    /* Use for links in a visited state */
    --colorColorLinkVisited: var(--colorBaseColorsPurple800);    
    --colorColorBorderBrand: var(--colorBaseColorsBlue600);    
    --colorColorBorderBolder: var(--colorBaseColorsGrey700);    
    --colorColorBorderBold: var(--colorBaseColorsGrey600);    
    --colorColorBorderLight: var(--colorBaseColorsGrey500);    
    --colorColorBorderLighter: var(--colorBaseColorsGrey400);    
    --colorColorBorderLightest: var(--colorBaseColorsGrey300);    
    --colorColorBorderSupportDanger: var(--colorBaseColorsRed500);    
    --colorColorBorderSupportWarning: var(--colorBaseColorsOrange500);    
    --colorColorBorderSupportSuccess: var(--colorBaseColorsGreen500);    
    --colorColorBorderSupportInfo: var(--colorBaseColorsLightblue500);    
    --colorColorBgWarningLightDefault: var(--colorBaseColorsOrange100);    
    --colorColorBgWarningBoldDefault: var(--colorBaseColorsOrange500);    
    --colorColorBgWarningLightHovered: var(--colorBaseColorsOrange200);    
    --colorColorBgWarningBoldHovered: var(--colorBaseColorsOrange600);    
    --colorColorBgWarningLightPressed: var(--colorBaseColorsOrange300);    
    --colorColorBgWarningBoldPressed: var(--colorBaseColorsOrange700);    
    --colorColorBgSuccessLightDefault: var(--colorBaseColorsGreen100);    
    --colorColorBgSuccessBoldDefault: var(--colorBaseColorsGreen500);    
    --colorColorBgSuccessLightHovered: var(--colorBaseColorsGreen200);    
    --colorColorBgSuccessLightPressed: var(--colorBaseColorsGreen300);    
    --colorColorBgSuccessBoldHovered: var(--colorBaseColorsGreen600);    
    --colorColorBgSuccessBoldPressed: var(--colorBaseColorsGreen700);    
    --colorColorBgInfoLightDefault: var(--colorBaseColorsLightblue100);    
    --colorColorBgInfoLightHovered: var(--colorBaseColorsLightblue200);    
    --colorColorBgInfoBoldDefault: var(--colorBaseColorsLightblue500);    
    --colorColorBgInfoLightPressed: var(--colorBaseColorsLightblue300);    
    --colorColorBgInfoBoldHovered: var(--colorBaseColorsLightblue600);    
    --colorColorBgInfoBoldPressed: var(--colorBaseColorsLightblue700);    
    --colorColorBgBrandBoldHovered: var(--colorBaseColorsBlue700);    
    --colorColorBgAccentRedLighterDefault: var(--colorBaseColorsRed200);    
    --colorColorBgAccentRedLighterHovered: var(--colorBaseColorsRed300);    
    --colorColorBgAccentRedLighterPressed: var(--colorBaseColorsRed400);    
    --colorColorBgAccentRedLightDefault: var(--colorBaseColorsRed500);    
    --colorColorBgAccentRedLightHovered: var(--colorBaseColorsRed600);    
    --colorColorBgAccentRedLightPressed: var(--colorBaseColorsRed700);    
    --colorColorBgAccentRedBoldDefault: var(--colorBaseColorsRed700);    
    --colorColorBgAccentRedBoldHovered: var(--colorBaseColorsRed800);    
    --colorColorBgAccentRedBoldPressed: var(--colorBaseColorsRed900);    
    /* Use for icons communication successful results */
    --colorColorSuccess: var(--colorBaseColorsGreen500);    
    /* Use for icons communication information or something in-progress */
    --colorColorInfo: var(--colorBaseColorsLightblue500);    
    --colorColorBgNeutralLightestDefault: var(--colorBaseColorsGrey100);    
    --colorColorBgNeutralLightestHovered: var(--colorBaseColorsGrey200);    
    --colorColorBgNeutralLightestPressed: var(--colorBaseColorsGrey300);    
    --colorColorBgNeutralLighterDefault: var(--colorBaseColorsGrey200);    
    --colorColorBgNeutralLighterHovered: var(--colorBaseColorsGrey300);    
    --colorColorBgNeutralLighterPressed: var(--colorBaseColorsGrey400);    
    --colorColorBgNeutralLightDefault: var(--colorBaseColorsGrey500);    
    --colorColorBgNeutralLightHovered: var(--colorBaseColorsGrey600);    
    --colorColorBgNeutralLightPressed: var(--colorBaseColorsGrey700);    
    --colorColorBgNeutralBoldDefault: var(--colorBaseColorsGrey700);    
    --colorColorBgNeutralBoldHovered: var(--colorBaseColorsGrey800);    
    --colorColorBgNeutralBoldPressed: var(--colorBaseColorsGrey900);    
    --colorColorBorderSupportDangerLighter: var(--colorBaseColorsRed200);    
    --colorColorBorderSupportWarningLighter: var(--colorBaseColorsOrange200);    
    --colorColorBorderSupportSuccessLighter: var(--colorBaseColorsGreen200);    
    --colorColorBorderSupportInfoLighter: var(--colorBaseColorsLightblue200);    
    --colorColorBorderSupportInfoBold: var(--colorBaseColorsLightblue700);    
    --colorColorBorderSupportDangerBold: var(--colorBaseColorsRed700);    
    --colorColorBorderSupportWarningBold: var(--colorBaseColorsOrange700);    
    --colorColorBorderSupportSuccessBold: var(--colorBaseColorsGreen700);    
    --colorColorBgAccentGreenLightestDefault: var(--colorBaseColorsGreen50);    
    --colorColorBgAccentGreenLightestHovered: var(--colorBaseColorsGreen200);    
    --colorColorBgAccentGreenLightestPressed: var(--colorBaseColorsGreen300);    
    --colorColorBgAccentGreenLighterDefault: var(--colorBaseColorsGreen200);    
    --colorColorBgAccentGreenLighterHovered: var(--colorBaseColorsGreen300);    
    --colorColorBgAccentGreenLighterPressed: var(--colorBaseColorsGreen400);    
    --colorColorBgAccentGreenLightDefault: var(--colorBaseColorsGreen500);    
    --colorColorBgAccentGreenLightHovered: var(--colorBaseColorsGreen600);    
    --colorColorBgAccentGreenLightPressed: var(--colorBaseColorsGreen700);    
    --colorColorBgAccentGreenBoldDefault: var(--colorBaseColorsGreen700);    
    --colorColorBgAccentGreenBoldHovered: var(--colorBaseColorsGreen800);    
    --colorColorBgAccentGreenBoldPressed: var(--colorBaseColorsGreen900);    
    --colorColorBgAccentOrangeLightestDefault: var(--colorBaseColorsOrange50);    
    --colorColorBgAccentOrangeLightestHovered: var(--colorBaseColorsOrange200);    
    --colorColorBgAccentOrangeLightestPressed: var(--colorBaseColorsOrange300);    
    --colorColorBgAccentOrangeLighterDefault: var(--colorBaseColorsOrange200);    
    --colorColorBgAccentOrangeLighterHovered: var(--colorBaseColorsOrange300);    
    --colorColorBgAccentOrangeLighterPressed: var(--colorBaseColorsOrange400);    
    --colorColorBgAccentOrangeLightDefault: var(--colorBaseColorsOrange500);    
    --colorColorBgAccentOrangeLightHovered: var(--colorBaseColorsOrange600);    
    --colorColorBgAccentOrangeLightPressed: var(--colorBaseColorsOrange700);    
    --colorColorBgAccentOrangeBoldDefault: var(--colorBaseColorsOrange700);    
    --colorColorBgAccentOrangeBoldHovered: var(--colorBaseColorsOrange800);    
    --colorColorBgAccentOrangeBoldPressed: var(--colorBaseColorsOrange900);    
    --colorColorBgBrandLighterDefault: var(--colorBaseColorsBlue100);    
    --colorColorBgBrandLighterPressed: var(--colorBaseColorsBlue200);    
    --colorColorBgBrandLighterHovered: var(--colorBaseColorsBlue300);    
    /* Use for primary text, such as body copy, sentence case headers;  Use as hover text color for $text-light */
    --colorColorFgDefault: var(--colorBaseColorsGrey900);    
    /* Use for secondary text, such as navigation, light button links, Inputs labels color; Use as hover text color for $text-lighter */
    --colorColorFgBold: var(--colorBaseColorsGrey800);    
    /* Use for tertiary text, such as helper text and meta-data; Use as hover text color for $text-lightest */
    --colorColorFgLight: var(--colorBaseColorsGrey700);    
    /* Use for text on interactive and bold backgrounds. */
    --colorColorFgInverse: var(--colorBaseColorsWhite1000);    
    /* Use for text on interactive and bold backgrounds. */
    --colorColorFgInverseLighter: var(--colorBaseColorsWhite600);    
    /* Use for text on interactive and bold backgrounds. */
    --colorColorFgInverseLightest: var(--colorBaseColorsWhite400);    
    /* Use for critical text, such as fields error messaging. */
    --colorColorFgDangerDefault: var(--colorBaseColorsRed500);    
    /* Use for critical text, such as fields error messaging. */
    --colorColorFgDangerBold: var(--colorBaseColorsRed700);    
    /* Use for text to emphasize caution. */
    --colorColorFgWarningDefault: var(--colorBaseColorsOrange500);    
    /* Use for text to emphasize caution. */
    --colorColorFgWarningBold: var(--colorBaseColorsOrange700);    
    /* Use for text to communicate successful results. */
    --colorColorFgSuccessDefault: var(--colorBaseColorsGreen500);    
    /* Use for text to communicate successful results. */
    --colorColorFgSuccessBold: var(--colorBaseColorsGreen700);    
    /* Use for informative text to communicate something is in progress. */
    --colorColorFgInfoDefault: var(--colorBaseColorsLightblue500);    
    /* Use for informative text to communicate something is in progress. */
    --colorColorFgInfoBold: var(--colorBaseColorsLightblue700);    
    /* Use for tertiary text, such as helper text and meta-data; */
    --colorColorFgLighter: var(--colorBaseColorsGrey600);    
    /* Use for text in selected or opened states. */
    --colorColorFgSelected: var(--colorBaseColorsBlue800);    
    /* Use for disabled text state. */
    --colorColorFgDisabled: var(--colorBaseColorsBlack500);    
    /* Use for text that reinforces our brand. */
    --colorColorFgBrandDefault: var(--colorBaseColorsBlue700);    
    /* Use for text that reinforces our brand. */
    --colorColorFgBrandBolder: var(--colorBaseColorsBlue900);    
    /* Use for text on interactive and bold backgrounds. */
    --colorColorFgInverseLight: var(--colorBaseColorsWhite800);    
    --colorColorFgAccentRedDefault: var(--colorBaseColorsRed500);    
    --colorColorFgAccentRedBold: var(--colorBaseColorsRed700);    
    --colorColorFgAccentGreenDefault: var(--colorBaseColorsGreen500);    
    --colorColorFgAccentGreenBold: var(--colorBaseColorsGreen700);    
    --colorColorFgAccentOrangeDefault: var(--colorBaseColorsOrange500);    
    --colorColorFgAccentOrangeBold: var(--colorBaseColorsOrange700);    
    --colorColorFgAccentPinkDefault: var(--colorBaseColorsPink500);    
    --colorColorFgAccentPinkBold: var(--colorBaseColorsPink700);    
    --colorColorFgAccentRoseDefault: var(--colorBaseColorsRose500);    
    --colorColorFgAccentRoseBold: var(--colorBaseColorsRose700);    
    --colorColorFgAccentYellowDefault: var(--colorBaseColorsYellow500);    
    --colorColorFgAccentYellowBold: var(--colorBaseColorsYellow700);    
    --colorColorFgAccentCyanDefault: var(--colorBaseColorsCyan500);    
    --colorColorFgAccentCyanBold: var(--colorBaseColorsCyan700);    
    --colorColorFgAccentFuchsiaDefault: var(--colorBaseColorsFuchsia500);    
    --colorColorFgAccentFuchsiaBold: var(--colorBaseColorsFuchsia700);    
    --colorColorFgAccentTealDefault: var(--colorBaseColorsTeal500);    
    --colorColorFgAccentTealBold: var(--colorBaseColorsTeal700);    
    --colorColorFgAccentLimeDefault: var(--colorBaseColorsLime500);    
    --colorColorFgAccentLimeBold: var(--colorBaseColorsLime700);    
    /* Use for tertiary text, such as helper text and meta-data; */
    --colorColorFgLightest: var(--colorBaseColorsGrey500);    
    --colorColorBgDangerLightestDefault: var(--colorBaseColorsRed50);    
    --colorColorBgDangerLightestHovered: var(--colorBaseColorsRed100);    
    --colorColorBgDangerLightestPressed: var(--colorBaseColorsRed200);    
    --colorColorBgWarningLightestDefault: var(--colorBaseColorsOrange50);    
    --colorColorBgWarningLightestHovered: var(--colorBaseColorsOrange100);    
    --colorColorBgWarningLightestPressed: var(--colorBaseColorsOrange200);    
    --colorColorBgSuccessLightestDefault: var(--colorBaseColorsGreen50);    
    --colorColorBgSuccessLightestHovered: var(--colorBaseColorsGreen100);    
    --colorColorBgSuccessLightestPressed: var(--colorBaseColorsGreen200);    
    --colorColorBgInfoLightestDefault: var(--colorBaseColorsLightblue50);    
    --colorColorBgInfoLightestHovered: var(--colorBaseColorsLightblue100);    
    --colorColorBgInfoLightestPressed: var(--colorBaseColorsLightblue200);    
    --colorColorBgBrandBolderDefault: var(--colorBaseColorsBlue700);    
    --colorColorBgBrandBolderHovered: var(--colorBaseColorsBlue800);    
    --colorColorBgBrandBolderPressed: var(--colorBaseColorsBlue900);    
    --colorColorBgAccentPinkLightestDefault: var(--colorBaseColorsPink50);    
    --colorColorBgAccentPinkLightestHovered: var(--colorBaseColorsPink200);    
    --colorColorBgAccentPinkLightestPressed: var(--colorBaseColorsPink300);    
    --colorColorBgAccentPinkLighterDefault: var(--colorBaseColorsPink200);    
    --colorColorBgAccentPinkLighterHovered: var(--colorBaseColorsPink300);    
    --colorColorBgAccentPinkLighterPressed: var(--colorBaseColorsPink400);    
    --colorColorBgAccentPinkLightDefault: var(--colorBaseColorsPink500);    
    --colorColorBgAccentPinkLightHovered: var(--colorBaseColorsPink600);    
    --colorColorBgAccentPinkLightPressed: var(--colorBaseColorsPink700);    
    --colorColorBgAccentPinkBoldDefault: var(--colorBaseColorsPink700);    
    --colorColorBgAccentPinkBoldHovered: var(--colorBaseColorsPink800);    
    --colorColorBgAccentPinkBoldPressed: var(--colorBaseColorsPink900);    
    --colorColorBgAccentRoseLightestDefault: var(--colorBaseColorsRose50);    
    --colorColorBgAccentRoseLightestHovered: var(--colorBaseColorsRose200);    
    --colorColorBgAccentRoseLightestPressed: var(--colorBaseColorsRose300);    
    --colorColorBgAccentRoseLighterDefault: var(--colorBaseColorsRose200);    
    --colorColorBgAccentRoseLighterHovered: var(--colorBaseColorsRose300);    
    --colorColorBgAccentRoseLighterPressed: var(--colorBaseColorsRose400);    
    --colorColorBgAccentRoseLightDefault: var(--colorBaseColorsRose500);    
    --colorColorBgAccentRoseLightHovered: var(--colorBaseColorsRose600);    
    --colorColorBgAccentRoseLightPressed: var(--colorBaseColorsRose700);    
    --colorColorBgAccentRoseBoldDefault: var(--colorBaseColorsRose700);    
    --colorColorBgAccentRoseBoldHovered: var(--colorBaseColorsRose800);    
    --colorColorBgAccentRoseBoldPressed: var(--colorBaseColorsRose900);    
    --colorColorBgAccentYellowLightestDefault: var(--colorBaseColorsYellow50);    
    --colorColorBgAccentYellowLightestHovered: var(--colorBaseColorsYellow200);    
    --colorColorBgAccentYellowLightestPressed: var(--colorBaseColorsYellow300);    
    --colorColorBgAccentYellowLighterDefault: var(--colorBaseColorsYellow200);    
    --colorColorBgAccentYellowLighterHovered: var(--colorBaseColorsYellow300);    
    --colorColorBgAccentYellowLighterPressed: var(--colorBaseColorsYellow400);    
    --colorColorBgAccentYellowLightDefault: var(--colorBaseColorsYellow500);    
    --colorColorBgAccentYellowLightHovered: var(--colorBaseColorsYellow600);    
    --colorColorBgAccentYellowLightPressed: var(--colorBaseColorsYellow700);    
    --colorColorBgAccentYellowBoldDefault: var(--colorBaseColorsYellow700);    
    --colorColorBgAccentYellowBoldHovered: var(--colorBaseColorsYellow800);    
    --colorColorBgAccentYellowBoldPressed: var(--colorBaseColorsYellow900);    
    --colorColorBgAccentCyanLightestDefault: var(--colorBaseColorsCyan50);    
    --colorColorBgAccentCyanLightestHovered: var(--colorBaseColorsCyan200);    
    --colorColorBgAccentCyanLightestPressed: var(--colorBaseColorsCyan300);    
    --colorColorBgAccentCyanLighterDefault: var(--colorBaseColorsCyan200);    
    --colorColorBgAccentCyanLighterHovered: var(--colorBaseColorsCyan300);    
    --colorColorBgAccentCyanLighterPressed: var(--colorBaseColorsCyan400);    
    --colorColorBgAccentCyanLightDefault: var(--colorBaseColorsCyan500);    
    --colorColorBgAccentCyanLightHovered: var(--colorBaseColorsCyan600);    
    --colorColorBgAccentCyanLightPressed: var(--colorBaseColorsCyan700);    
    --colorColorBgAccentCyanBoldDefault: var(--colorBaseColorsCyan700);    
    --colorColorBgAccentCyanBoldHovered: var(--colorBaseColorsCyan800);    
    --colorColorBgAccentCyanBoldPressed: var(--colorBaseColorsCyan900);    
    --colorColorBgAccentFuchsiaLightestDefault: var(--colorBaseColorsFuchsia50);    
    --colorColorBgAccentFuchsiaLightestHovered: var(--colorBaseColorsFuchsia200);    
    --colorColorBgAccentFuchsiaLightestPressed: var(--colorBaseColorsFuchsia300);    
    --colorColorBgAccentFuchsiaLighterDefault: var(--colorBaseColorsFuchsia200);    
    --colorColorBgAccentFuchsiaLighterHovered: var(--colorBaseColorsFuchsia300);    
    --colorColorBgAccentFuchsiaLighterPressed: var(--colorBaseColorsFuchsia400);    
    --colorColorBgAccentFuchsiaLightDefault: var(--colorBaseColorsFuchsia500);    
    --colorColorBgAccentFuchsiaLightHovered: var(--colorBaseColorsFuchsia600);    
    --colorColorBgAccentFuchsiaLightPressed: var(--colorBaseColorsFuchsia700);    
    --colorColorBgAccentFuchsiaBoldDefault: var(--colorBaseColorsFuchsia700);    
    --colorColorBgAccentFuchsiaBoldHovered: var(--colorBaseColorsFuchsia800);    
    --colorColorBgAccentFuchsiaBoldPressed: var(--colorBaseColorsFuchsia900);    
    --colorColorBgAccentTealLightestDefault: var(--colorBaseColorsTeal50);    
    --colorColorBgAccentTealLightestHovered: var(--colorBaseColorsTeal200);    
    --colorColorBgAccentTealLightestPressed: var(--colorBaseColorsTeal300);    
    --colorColorBgAccentTealLighterDefault: var(--colorBaseColorsTeal200);    
    --colorColorBgAccentTealLighterHovered: var(--colorBaseColorsTeal300);    
    --colorColorBgAccentTealLighterPressed: var(--colorBaseColorsTeal400);    
    --colorColorBgAccentTealLightDefault: var(--colorBaseColorsTeal500);    
    --colorColorBgAccentTealLightHovered: var(--colorBaseColorsTeal600);    
    --colorColorBgAccentTealLightPressed: var(--colorBaseColorsTeal700);    
    --colorColorBgAccentTealBoldDefault: var(--colorBaseColorsTeal700);    
    --colorColorBgAccentTealBoldHovered: var(--colorBaseColorsTeal800);    
    --colorColorBgAccentTealBoldPressed: var(--colorBaseColorsTeal900);    
    --colorColorBgAccentLimeLightestDefault: var(--colorBaseColorsLime50);    
    --colorColorBorderBrandDefault: var(--colorBaseColorsBlue600);    
    --colorColorBgAccentLimeLightestHovered: var(--colorBaseColorsLime200);    
    --colorColorBgAccentLimeLightestPressed: var(--colorBaseColorsLime300);    
    --colorColorBorderBrandBold: var(--colorBaseColorsBlue900);    
    --colorColorBorderBrandLight: var(--colorBaseColorsBlue300);    
    --colorColorBgAccentLimeLighterDefault: var(--colorBaseColorsLime200);    
    --colorColorBorderSupportDangerDefault: var(--colorBaseColorsRed500);    
    --colorColorBorderSupportDangerLight: var(--colorBaseColorsRed300);    
    --colorColorBorderSupportWarningDefault: var(--colorBaseColorsOrange500);    
    --colorColorBorderSupportWarningLight: var(--colorBaseColorsOrange300);    
    --colorColorBorderSupportSuccessDefault: var(--colorBaseColorsGreen500);    
    --colorColorBorderSupportSuccessLight: var(--colorBaseColorsGreen300);    
    --colorColorBorderSupportInfoDefault: var(--colorBaseColorsLightblue500);    
    --colorColorBorderSupportInfoLight: var(--colorBaseColorsLightblue300);    
    --colorColorBgAccentLimeLighterHovered: var(--colorBaseColorsLime300);    
    --colorColorBorderAccentRedDefault: var(--colorBaseColorsRed500);    
    --colorColorBorderAccentRedBold: var(--colorBaseColorsRed700);    
    --colorColorBgAccentLimeLighterPressed: var(--colorBaseColorsLime400);    
    --colorColorBorderAccentRedLight: var(--colorBaseColorsRed300);    
    --colorColorBgAccentLimeLightDefault: var(--colorBaseColorsLime500);    
    --colorColorBorderAccentGreenDefault: var(--colorBaseColorsGreen500);    
    --colorColorBorderAccentGreenBold: var(--colorBaseColorsGreen700);    
    --colorColorBgAccentLimeLightHovered: var(--colorBaseColorsLime600);    
    --colorColorBorderAccentGreenLight: var(--colorBaseColorsGreen300);    
    --colorColorBgAccentLimeLightPressed: var(--colorBaseColorsLime700);    
    --colorColorBorderAccentOrangeDefault: var(--colorBaseColorsOrange500);    
    --colorColorBorderAccentOrangeBold: var(--colorBaseColorsOrange700);    
    --colorColorBgAccentLimeBoldDefault: var(--colorBaseColorsLime700);    
    --colorColorBorderAccentOrangeLight: var(--colorBaseColorsOrange300);    
    --colorColorBorderAccentPinkDefault: var(--colorBaseColorsPink500);    
    --colorColorBgAccentLimeBoldHovered: var(--colorBaseColorsLime800);    
    --colorColorBgAccentLimeBoldPressed: var(--colorBaseColorsLime900);    
    --colorColorBorderAccentPinkBold: var(--colorBaseColorsPink700);    
    --colorColorBorderAccentPinkLight: var(--colorBaseColorsPink300);    
    --colorColorBorderAccentRoseDefault: var(--colorBaseColorsRose500);    
    --colorColorBorderAccentRoseBold: var(--colorBaseColorsRose700);    
    --colorColorBorderAccentRoseLight: var(--colorBaseColorsRose300);    
    --colorColorBorderAccentYellowDefault: var(--colorBaseColorsYellow500);    
    --colorColorBorderAccentYellowBold: var(--colorBaseColorsYellow700);    
    --colorColorBorderAccentYellowLight: var(--colorBaseColorsYellow300);    
    --colorColorBorderAccentCyanDefault: var(--colorBaseColorsCyan500);    
    --colorColorBorderAccentCyanBold: var(--colorBaseColorsCyan700);    
    --colorColorBorderAccentCyanLight: var(--colorBaseColorsCyan300);    
    --colorColorBorderAccentFuchsiaDefault: var(--colorBaseColorsFuchsia500);    
    --colorColorBorderAccentFuchsiaBold: var(--colorBaseColorsFuchsia700);    
    --colorColorBorderAccentFuchsiaLight: var(--colorBaseColorsFuchsia300);    
    --colorColorBorderAccentTealDefault: var(--colorBaseColorsTeal500);    
    --colorColorBorderAccentTealBold: var(--colorBaseColorsTeal700);    
    --colorColorBorderAccentTealLight: var(--colorBaseColorsTeal300);    
    --colorColorBorderAccentLimeDefault: var(--colorBaseColorsLime500);    
    --colorColorBorderAccentLimeBold: var(--colorBaseColorsLime700);    
    --colorColorBorderAccentLimeLight: var(--colorBaseColorsLime300);    
    --colorColorBorderInverse: var(--colorBaseColorsWhite1000);    
    --colorColorBorderSelected: var(--colorBaseColorsBlue200);    
    --colorColorBgNeutralBolderDefault: var(--colorBaseColorsGrey800);    
    --colorColorBgNeutralBolderHovered: var(--colorBaseColorsGrey900);    
    --colorColorBgNeutralBolderPressed: var(--colorBaseColorsGrey1000);    
}